.courseware-page {
  .feature-section {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .navigation {
    .inner-container {
      padding: 10%;
    }
  }
  .navigation-links {
    margin-top: 0;
    margin-bottom: 60px;
  }
  .nav-anchor {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
  }
  ol, ul {
    li {
      margin-bottom: 10px;
      margin-top: 0px;
      font-size: 18px;
    }
  }
  .toggle,
  [id^=drop] {
    display: none;
  }
}

.courseware-page-stage {
  padding-top: 100px;
  color: pink;
  background-color: blue;
}

.draft {
  width: 100%;
  padding: 10%;
  font-family: monospace;
  height: 100%;
  overflow: scroll;
  h1, h2, h3, h4, h5, h6, p, ul, li {
    font-family: monospace;
  }
  h1, h2, h3 {
    font-weight: bold;
  }
  p, ul, li {
    font-size: 18px;
  }
  ul {
    margin-bottom: 30px;
  }
  p {
    padding-bottom: 30px;
  }
}


@media only screen and (max-width: 767px) {
  .courseware-page {
    .page-header {
      background-color: $ethics-color;
    }
  	.menu {
  		display: none !important;
      height: 0;
      opacity: 0;
      transition-duration: 0.5s;
  	}
    [id^=drop]:checked + .menu {
      display: block !important;
      height: 800px !important;
      opacity: 1;
    }
    .toggle {
  		display: block;
  		background-color: $manifesto-color;
  		padding:14px 20px;
  		color:#FFF;
  		font-size:17px;
  		text-decoration:none;
  		border:none;
      text-align: center;
      margin-top: 48px;
    }
    .toggle:hover,
    .toggle:visited  {
		  background-color: darken($manifesto-color, 1%);
	  }
    .navigation {
      position: relative;
      .navigation-links {
        text-align: left;
        .nav-title {
          display: block;
          font-size: 18px;
        }
        .nav-anchor {
          display: block;
          float: none;
          text-align: left;
          line-height: 1.5em;
        }
      }
    }
    .product-content > .inner-container {
      padding-top: 20px;
    }
    .branding-container {
      margin-bottom: 40px;
    }
    .heading.-xlarge {
      font-size: 18px;
    }
    .feature-section {
      padding-top: 40px;
      padding-bottom: 40px;
      .heading.-large {
        font-size: 16px;
      }
      p:not(.heading) {
        font-size: 14px;
        line-height: 1.5em;
        padding-bottom: 20px;
      }
    }
    ol li,
    ul li {
      font-size: 14px;
    }
    .section-action {
      margin-top: 30px;
    }
    h4 {
      font-size: 14px;
      font-weight: bold;
    }
    .bottom-floating-actions {
      display: none;
    }
    .product-landing {
      padding-bottom: 0;
    }
  }
}
