input {
    border: $px1 solid $border-color;
    border-radius: $px2;
    height: $px44;
    font-size: $px16;
    line-height: $px18;
    @include phone-styles {
        border: $medium-px2 solid $border-color;
        border-radius: $medium-px2;
        height: $medium-px45;
        font-size: $medium-px16;
        line-height: $medium-px18;
    }
}
.custom-control-description, .custom-control-label {
    color: $text-dark;
    font-weight: 500;
    font-size: $px16;
    line-height: $px22;
    @include phone-styles {
        font-size: $medium-px16;
        line-height: $medium-px22;
    }
}

.custom-control-label {
    &:before {
        height: $px24;
        width: $px24;
        border-radius: $px3;
        background: transparent;
        border: $px2 solid $ethics-color;

        @include phone-styles {
            height: $medium-px24;
            width: $medium-px24;
            border-radius: $medium-px3;
            border: $medium-px2 solid $ethics-color;
        }
    }
    &:after {
        height: $px24;
        width: $px24;
        @include phone-styles {
            height: $medium-px24;
            width: $medium-px24;
        }
    }
}

.custom-checkbox, .custom-radio {
    padding: $px5 $px35 0;
    margin-bottom: $px15;
    cursor: pointer;
    @include phone-styles {
        padding: $medium-px5 $medium-px35 0;
        margin-bottom: $medium-px15;
    }
}

.custom-checkbox {
    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: $ethics-color;
    }
}

.custom-radio {
    .custom-control-label::after {
        position: absolute;
        height: $px12;
        width: $px12;
        top: $px9;
        left: $px6;
        bottom: 0;
        right: 0;
        border-radius: 50%;
	    @include phone-styles {
			height: $medium-px12;
			width: $medium-px12;
			top: $medium-px9;
			left: $medium-px6;
	    }
    }
    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: transparent;
    }
    .custom-control-input:checked ~ .custom-control-label::after {
        background-color: $ethics-color;
        background-image: none;
    }
}

.custom-checkbox-wrap {
    margin-bottom: $px30;
    margin-top: $px30;
    @include phone-styles {
        margin-bottom: $medium-px30;
        margin-top: $medium-px30;
    }
}
.form-control {
    color: $text-dark;
    font-size: $px16;
    line-height: $px18;
    @include phone-styles {
        padding: 0 $medium-px15;
        font-size: $medium-px16;
        line-height: $medium-px18;
        padding: 0 $medium-px15;
    }
}
.form-group {
    margin-bottom: $px20;
    @include phone-styles {
        margin-bottom: $medium-px20;
    }
}
select.form-control {
    border: $px1 solid $border-color;
    border-radius: $px2 0 0 $px2;
    background-color: transparent;
    color: $text-dark;
    font-size: $px16;
    width: $px160;
    height: $px45 !important;
    line-height: $px18;
    z-index: 1;


    @include phone-styles {
        border: $medium-px2 solid $border-color;
        border-radius: $medium-px2 0 0 $medium-px2;
        font-size: $medium-px16;
        width: $medium-px160;
        height: $medium-px45 !important;
        line-height: $medium-px18;
    }
    &:hover, &:focus {
        cursor: pointer;
        background-color: transparent;
    }
    option {
        background-color: $white;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}

.dw-select-icon {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $field-bg-color;
    border: $px1 solid $border-color;
    border-radius: $px2 0 0 $px2;
    height: $px45 !important;
    width: $px160;
    z-index: 0;

    @include phone-styles {
        border: $medium-px2 solid $border-color;
        border-radius: $medium-px2 0 0 $medium-px2;
        height: $medium-px45 !important;
        width: $medium-px160;
    }
    > span {
        position: absolute;
        right: $px10;
        top: $px5;
        font-size: $px35;
        line-height: 1;
        transform: rotate(90deg);
        color: #8C9CAF;
        z-index: 0;
        @include phone-styles {
            right: $medium-px10;
            top: $medium-px5;
            font-size: $medium-px35;
        }
    }
}
