.page-header {
    transition: all 0.25s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-action-wrap {
    transition: all 0.25s ease;
    flex-basis: 65vw;
    display: flex;
    padding: $px26 $px32;
    justify-content: flex-end;
    > .btn {
        color: #ffffff;
        width: $px180;
        height: $px40;
        border-radius: $px40;
        padding-top: $px14;
        padding-bottom: $px14;
        @include phone-styles {
            width: $medium-px100;
            height: $medium-px32;
            border-radius: $medium-px32;
            padding-top: $medium-px9;
            padding-bottom: $medium-px9;
        }
    }
    @include phone-styles {
        padding: $medium-px15;
    }
}

.header-logo {
    font-size: $px13;
    font-weight: 600;
    line-height: $px14;
    letter-spacing: $px0point7;
    color: #ffffff;
    padding: $px26 $px32;
    > img {
        margin-right: $px12;
        width: $px30;
        height: $px26;
    }
    @include phone-styles {
        font-size: 0;
        padding: $medium-px15;
        > img {
            width: $medium-px30;
            height: $medium-px26;
            margin: 0;
        }
    }
}

.back-link {
    transition: all 0.25s ease;
    font-size: $px13;
    font-weight: 600;
    line-height: $px14;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: $px26 $px32;
    > img {
        width: $px26;
        height: $px26;
        margin-right: $px12;
    }
    &:hover, &:focus {
        opacity: 0.8;
        text-decoration: none;
        color: #ffffff;
    }
    @include phone-styles {
        font-size: 0;
        padding: $medium-px15;
    }
}

.translucent {
    background: rgba(#ffffff, 0.9);
}

.manifesto-page {
    .header-action-wrap > .btn {
        color: $manifesto-color;
    }
}

.ethics-page {
    .header-action-wrap > .btn {
        color: $ethics-color;
    }
}
