.manifesto-color {
    .navigation {
        background-color: $manifesto-color;
    }
    .-alternate-background {
        background: $ethics-color;
        color: $white;
    }
    .section-action {
        .btn.-filled {
            background: $manifesto-color;
            color: $white;
        }
    }
    .navigation-buttons-wrap {
        .btn.-sign {
            background: $ethics-color;
            color: $white;
        }
    }
    .content-header {
        &:after {
            border-color: $manifesto-color;
            background-color: $manifesto-color;
        }
    }
    .bottom-floating-actions {
        .btn.-sign {
            background-color: $manifesto-color;
            color: $white;
        }
    }
}
