.modal-backdrop.show {
    opacity: 1;
    background: rgba(255, 255, 255, 0.7);
}
.modal-content {
    border-radius: $px2;
    background-color: #fff;
    border: none;
	box-shadow: 0 $px2 100px 0 rgba(140,156,175,0.4);
	@include phone-styles {
		box-shadow: 0 $medium-px2 100px 0 rgba(140,156,175,0.4);
    	border-radius: $medium-px2;
	}
}
.modal-body {
	padding: $px80;
	h1 {
		color: #323D48;
		font-size: $px32;
		margin-bottom: $px30;
	}
	@include phone-styles {
		padding: $medium-px40;

		h1 {
			font-size: $medium-px32;
			margin-bottom: $medium-px30;
		}
	}
	.btn-primary {
		background-color: $ethics-color;
		min-width: $px200;
		@include phone-styles {
			min-width: $medium-px200;
		}
	}
	p {
		color: #323D48;
		font-weight: 500;
		font-size: $px16;
		line-height: $px28;
		margin-bottom: $px15;

		@include phone-styles {
			font-size: $medium-px16;
			line-height: $medium-px28;
			margin-bottom: $medium-px15;
		}
	}
}

button.close {
	color: #fff;
    width: $px32;
    height: $px32;
    background: #ccc;
    border-radius: 50%;
    display: block;
    padding: 0;
    font-size: $px30;
    line-height: $px30;
    position: absolute;
    right: $px25;
    top: $px25;
    font-weight: normal;
    &:hover {
		color: #fff;
    }
	@include phone-styles {
		width: $medium-px24;
    	height: $medium-px24;
    	padding: $medium-px3 0;
    	font-size: $medium-px30;
    	right: $medium-px25;
    	top: $medium-px25;
	}
}

.modal-dialog {
	max-width: $px580;
	@include phone-styles {
		max-width: 90vw;
	}
}
.dw-btn-wrap {
	margin-top: $px30;
	@include phone-styles {
		margin-top: $medium-px30;
	}
}

.social-icon-wrap {
	a {
		margin-right: $px20;
		width: $px26;
		height: $px26;
		display: inline-block;

		&:hover, &:focus {
			text-decoration: none;
		}

		@include phone-styles {
			margin-right: $medium-px20;
			width: $medium-px26;
			height: $medium-px26;
		}
		img {
			width: 100%;
		}
	}
}

.dw-wownload-btn {
	margin: $px30 0;
	@include phone-styles {
		margin: $medium-px30 0;
	}
	a {
		color: #00B8D9;
		font-weight: 500;
		font-size: $px16;
		line-height: $px22;
		&:hover, &:focus {
			text-decoration: none;
		}
		@include phone-styles {
			font-size: $medium-px16;
			line-height: $medium-px22;
		}
	}
}
