.homepage-wrap {
    @include flexbox();
    min-height: 100vh;
    @include phone-styles {
        display: block;
    }
}

.home-col {
    @include flex(1);
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    padding: $px223 $px95 $px95;
    color: #ffffff;
    text-align: center;
    > a {
        color: #ffffff;
        text-decoration: none;
    }
    > a img {
        width: $px140;
        height: $px140;
    }
    > a h1 {
        font-size: $px32;
        line-height: $px42;
        font-weight: 600;
        margin-top: $px30;
    }
    > p {
        font-size: $px18;
        line-height: $px28;
        font-weight: 600;
        color: inherit;
        padding: $px18 $px28 0;
        font-family: 'Publico Text';
        width: 100%
    }
    > .btn {
        width: $px220;
        margin-top: $px43;
    }
    @include phone-styles {
        @include justify-content(center);
        min-height: 50vh;
        padding: $medium-px20;
        > img {
            width: $medium-px64;
            height: $medium-px64;
        }
        > h1 {
            font-size: $medium-px24;
            line-height: $medium-px31;
            margin-top: $medium-px16;
        }
        > p {
            font-size: $medium-px13;
            line-height: $medium-px18;
            margin: $medium-px12 0 0;
        }
        > .btn {
            width: $medium-px150;
        }
    }
    @include phone-landscape-styles {
        display: block;
        padding: $medium-px20;
    }
}

.ethics-col {
    background: $ethics-color;
    @include phone-styles {
        padding-top: $medium-px62;
    }
}

.manifesto-col {
    background: $manifesto-color;
}

.floating-social-btns {
    position: fixed;
    bottom: $px20;
    right: $px20;
    @include phone-styles {
        display: none;
    }
}

.social-btns {
    &.-vertical {
        width: 26px;
        > .social-link {
            display: block;
            margin: $px15 0 0;
        }
    }
}

.social-link {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    > img {
        max-width: 100%;
    }
    &:hover, &:focus, &:active {
        opacity: 0.8;
    }
}

.ethics-bg {
    background: $ethics-color;
}

.manifesto-bg {
    background: $manifesto-color;
}

.centered-content-wrap {
    max-width: $px576;
    margin: $px117 auto 0;
    background: #ffffff;
    padding: $px50 $px80;
    border-radius: $px2;
    box-shadow: 0 $px2 $px100 0 rgba(140, 156, 175, 0.4);
    > img {
        width: $px140;
        height: $px140;
        margin-bottom: $px42;
    }
    .share-and-download {
        margin-top: $px16;
    }
    .dw-wownload-btn {
        margin-bottom: 0;
    }
    @include phone-styles {
        margin-top: $medium-px62;
        max-width: $medium-px343;
        padding: $medium-px36 $medium-px32;
        > img {
            width: $medium-px80;
            height: $medium-px80;
            margin-bottom: $medium-px32;
        }
        .share-and-download {
            margin-top: $medium-px23;
        }
    }
}

.share-and-download {
    > p {
        color: #323D48;
        font-weight: 500;
        font-size: $px16;
        line-height: $px28;
        margin-bottom: $px15;
        @include phone-styles {
            font-size: $medium-px16;
            line-height: $medium-px28;
            margin-bottom: $medium-px15;
        }
    }
}

.inline-svg-icon svg {
  height: 24px;
  width: 24px;
  fill: #00B8D9;
}

.signatory {
  display: inline-flex;
  align-items: center;
  font-size: 1.30625vw;
}

ol.signatories {
  list-style-position: inside;
}

p.signatory a {
  padding-left: 6px;
}

p.signatory a img {
  @include phone-styles {
    width: 18px;
  }
}
