.homepage-wrap {
    display: flex;
    min-height: 100vh;
    @include phone-styles {
        flex-direction: column;
    }
}

.home-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $px92 $px95 0;
    color: #ffffff;
    text-align: center;
    > img {
        width: $px140;
        height: $px140;
    }
    > h1 {
        font-size: $px32;
        line-height: $px42;
        font-weight: 600;
        margin-top: $px30;
    }
    > p {
        font-size: $px18;
        line-height: $px28;
        font-weight: 600;
        color: inherit;
        margin: $px18 $px28 0;
    }
    > .btn {
        width: $px220;
        margin-top: $px43;
    }
    @include phone-styles {
        padding: 0 $medium-px20;
        > img {
            width: $medium-px64;
            height: $medium-px64;
        }
        > h1 {
            font-size: $medium-px24;
            line-height: $medium-px31;
            margin-top: $medium-px16;
        }
        > p {
            font-size: $medium-px13;
            line-height: $medium-px18;
            margin: $medium-px12 0 0;
        }
        > .btn {
            width: $medium-px150;
        }
    }
    @include phone-landscape-styles {
        display: block;
        padding: $medium-px20;
    }
}

.ethics-col {
    background: $ethics-color;
    @include phone-styles {
        padding-top: $medium-px62;
    }
}

.manifesto-col {
    background: $manifesto-color;
}
