
.fluid-container {
    width: 100%;
    width: 100vw;
    margin: 0 auto;
}

.ethics-background {
    background-color: $ethics-color;
}

.manifesto-background {
    background-color: $manifesto-color;
}


.product-landing {
    @include flexbox();
    width: 100%;
    position: relative;
    @include phone-styles {
        display: block;
        padding-bottom: $medium-px50;
    }
}

.navigation {
    position: fixed;
    width: 35%;
    @include flex(0 0 35%);
    height: 100vh;
    overflow: auto;
    > .inner-container {
        height: 100%;
        text-align: right;
        padding: $px158 $px104 $px50;
    }
    @include phone-styles {
        position: fixed;
        width: 100%;
        z-index: 1;
        height: auto;
        > .inner-container {
            padding: $medium-px48 $medium-px10 0;
            text-align: center;
        }
        .branding-image {
            display: none;
        }
        .nav-title {
            display: none;
        }
    }
}

.navigation-buttons-wrap {
    margin: $px15 0;
    padding: $px3 0;
    .btn {
        min-width: $px200;
        margin-bottom: $px20;
    }
    @include phone-styles {
        display: none;
    }
}

.product-content {
    width: 65%;
    @include flex(0 0 65%);
    margin-left: 35%;
    @include phone-styles {
        //position: relative;
        width: 100%;
        @include flex(0 0 100%);
        margin: 0;

        > .inner-container {
            padding-top: $medium-px91;
        }
    }

    .nav-title {
        color: $text-dark;
    }
}


.branding-image {
    width: $px140;
    height: $px140;
    display: inline-block;
    //background: #fff;
    border-radius: 50%;
    img {
        max-width: 100%;
    }
    @include phone-styles {
        width: $medium-px80;
        height: $medium-px80;
    }
}


.item-image {
    height: $px72;
    width: $px72;
    float: left;
    img {
        max-width: 100%;
    }
    @include phone-styles {
        height: $medium-px55;
        width: $medium-px55;
        margin: $medium-px8 0 0;
    }
}

.nav-title {
    margin: $px47 0 $px10;
}

.branding-container {
    @extend .clearfix;
    padding: $medium-px23;
    > .branding-image, > .nav-title {
        float: left;
    }
    > .branding-image {
        margin: $medium-px8 0 0 0;
    }
    > .nav-title {
        width: calc(100% - #{$medium-px80});
        padding-left: $medium-px18;
    }
    display: none;
    @include phone-styles {
        display: block;
    }
}

.nav-anchor {
    font-family: 'Graphik';
    font-size: $px14;
    font-weight: 600;
    line-height: $px14;
    text-align: right;
    color: $ethics-color;
    padding: $px10 $px1;
    margin: $px14 0;
    &.active {
        color: $white;
    }
    &:hover {
        text-decoration: none;
        opacity: 0.8;
        color: $white;
    }
    &:active, &:focus {
        color: $ethics-color;
        opacity: 1;
        &.active {
            color: $white;
        }
    }
    @include phone-styles {
        float: left;
        font-size: $medium-px10;
        line-height: $medium-px14;
        margin: 0 $medium-px11;
        padding: $medium-px10 0;
        border-bottom: $medium-px3 solid transparent;
        &.active {
            border-bottom: $medium-px3 solid $white;
        }
    }
}

.navigation-links {
    list-style: none;
    padding: 0;
    display: block;
    margin: $px25 0 $px27;
    @extend .clearfix;
    > li {
        margin: $px32 0;
    }
    @include phone-styles {
        margin: $medium-px7 0 0;
        display: inline-block;
    }
}

.content-header {
    position: relative;
    padding: $px119 $px200 $px37 $px104;
    &:after {
        content: ' ';
        position: absolute;
        width: $px28;
        height: $px2;
        border: $px2 solid transparent;
        bottom: 0;
    }
    @include phone-styles {
        padding: $medium-px10 $medium-px22 $medium-px28;
        &:after {
            width: $medium-px22;
            border-width: $medium-px2;
            height: $medium-px1_5;
        }
    }
}

.feature-section {
    padding: $px89 $px195 $px89 $px105;
    > p {
        margin-bottom: $px29;
        &:not(.heading) {
            margin: $px12 0 $px28;
            b {
                display: block;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &.-graphik:not(.heading) {
            margin: $px3 0;
            padding: $px5 0 0;
            @include phone-styles {
                margin: $medium-px5 0;
            }
        }
    }
    &.-less-padding {
        padding: $px69 $px170 $px69 $px105;
    }
    &.-medium-padding {
        padding-top: $px75;
        padding-bottom: $px75;
    }
    &.-no-right-padding {
        padding-right: $px10;
    }
    &.-grey-background {
        background-color: rgba(174,185,199, 0.2);
    }
    @include phone-styles {
        padding: $medium-px65 $medium-px23;
        > .heading.-large {
            font-size: $medium-px14;
            line-height: $medium-px27;
        }
    }
    .line-break {
        height: $px33;
        display: block;
    }
}

.ethics-page {
    .feature-section {
        > p.heading {
            margin-bottom: $px41;
        }
    }
}

.image-content-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.image-content-item {
    margin: $px46 0 $px50;
    // @include flexbox();
    @extend .clearfix;
    @include phone-styles {
        margin: $medium-px26 0;
    }
}
.item-content {
    width: calc(100% - #{$px72});
    float: left;
    padding-left: $px24;
    > h5.heading {
        margin-bottom: $px8;
        @include phone-styles {
            font-size: $medium-px14;
            line-height: $medium-px27;
        }
    }
    > p {
        margin: $px9 0;
    }
    @include phone-styles {
        width: calc(100% - #{$medium-px55});
        padding-left: $medium-px22;
    }
}

.ordered-list {
    margin: $px34 0 $px16;
    list-style-position: outside;
    padding: 0 0 0 $px15;
    font-size: $px18;
    @include phone-styles {
        font-size: $medium-px12;
        padding-left: $medium-px12;
    }
    > li {
        padding: 0 0 0 $px10;
        margin: $px34 0 $px52;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.-light {
        p, li {
            color: $white;
        }
    }
    &.-two-columns {
        padding: $px5 0 $px5 $px25;
        > li {
            float: left;
            width: 50%;
        }
        @include phone-styles {
            padding-left: $medium-px12;
        }
    }
    &.-condensed {
        > li {
            margin: 0;
        }
    }
}

.two-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: $px60;
    column-gap: $px60;
    -moz-column-gap: $px60;
}

.unordered-list {
    padding: 0;
    list-style: none;
    margin: $px45 0 $px10;
}

.section-action {
    margin: $px32 0 $px5;
    > .btn {
        min-width: $px200;
        @include phone-styles {
            min-width: $medium-px140;
        }
    }
}

.bottom-floating-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    width: 100vw;
    box-shadow: 0 -$medium-px8 $medium-px25 $medium-px5 rgba(0,0,0,0.10);
    display: none;
    @include phone-styles {
        display: block;
    }
    > .btn {
        width: 100%;
        border-radius: 0;
        height: $medium-px50;
        line-height: $medium-px27;
    }
}

.product-footer {
    background-color: $footer-background;
    margin-top: $px24;
    > .inner-container {
        padding: $px57 $px105;
    }
    .footer-brand {
        margin-top: $px35;
        margin-bottom: $px15;
    }
}

.footer-brand {
    > .logo {
        display: inline-block;
        img {
            max-width: 100%;
        }
        @include phone-styles {
            width: $medium-px140;
        }
    }
}

.made-with-love {
    > p, a {
        font-size: $px16;
        line-height: $px22;
        font-family: 'Graphik';
        @include phone-styles {
            font-size: $medium-px10_5;
            line-height: $medium-px14;
        }
    }
    > p {
        color: $white;
    }
    a {
        color: $manifesto-color;
    }
}

