.heading {
    font-family: 'Publico Text';
	color: $text-dark;
    font-weight: 600;
    margin: 0;
    &.-large {
        font-size: $px32;
        line-height: $px44;
        @include phone-styles {
            font-size: $medium-px24;
            line-height: $medium-px33;
        }
    }
    &.-small {
        font-size: $px14;
        line-height: $px15;
    }

    &.-graphik {
        font-family: 'Graphik';
        &.-large {
            line-height: $px42;
            @include phone-styles {
                font-size: $medium-px32;
                line-height: $medium-px38;
            }
        }
        &.-small {
            letter-spacing: $px1;
            @include phone-styles {
                font-size: $medium-px10_5;
                line-height: $medium-px14;
            }
        }
    }
    &.-white {
        color: #FFF;
    }
    &.-capital {
        text-transform: uppercase;
    }
}


p {
    font-family: 'Publico Text Roman';
    font-size: $px18;
    color: $text-dark;
    line-height: $px28;
    margin: 0 0 $px8;
    @include phone-styles {
        font-size: $medium-px12;
        font-weight: 500;
        line-height: $medium-px16;
    }
}
