// Color Variables
$manifesto-color: #00B8D9;
$ethics-color: #0747A6;

$white: #FFF;
$text-dark: #323D48;


$header-height: 64px;



// Responsive Breakpoints
$medium-width: 768px;

// Common Sizing Variables
$vw: vw;
$XLdivider: 12.80;
$Sdivider: 3.75;

// Desktop Sizing Variables
$px0point3: 0.3 / $XLdivider + $vw;
$px0point5: 0.5 / $XLdivider + $vw;
$px0point6: 0.6 / $XLdivider + $vw;
$px0point7: 0.7 / $XLdivider + $vw;
$px0point8: 0.8 / $XLdivider + $vw;
$px1: 1 / $XLdivider + $vw;
$px1point5: 1.5 / $XLdivider + $vw;
$px2: 2 / $XLdivider + $vw;
$px3: 3 / $XLdivider + $vw;
$px4: 4 / $XLdivider + $vw;
$px5: 5 / $XLdivider + $vw;
$px6: 6 / $XLdivider + $vw;
$px7: 7 / $XLdivider + $vw;
$px8: 8 / $XLdivider + $vw;
$px9: 9 / $XLdivider + $vw;
$px10: 10 / $XLdivider + $vw;
$px11: 11 / $XLdivider + $vw;
$px12: 12 / $XLdivider + $vw;
$px13: 13 / $XLdivider + $vw;
$px14: 14 / $XLdivider + $vw;
$px15: 15 / $XLdivider + $vw;
$px16: 16 / $XLdivider + $vw;
$px17: 17 / $XLdivider + $vw;
$px18: 18 / $XLdivider + $vw;
$px19: 19 / $XLdivider + $vw;
$px20: 20 / $XLdivider + $vw;
$px21: 21 / $XLdivider + $vw;
$px22: 22 / $XLdivider + $vw;
$px22point5: 22.5 / $XLdivider + $vw;
$px23: 23 / $XLdivider + $vw;
$px24: 24 / $XLdivider + $vw;
$px25: 25 / $XLdivider + $vw;
$px26: 26 / $XLdivider + $vw;
$px27: 27 / $XLdivider + $vw;
$px28: 28 / $XLdivider + $vw;
$px29: 29 / $XLdivider + $vw;
$px30: 30 / $XLdivider + $vw;
$px31: 31 / $XLdivider + $vw;
$px32: 32 / $XLdivider + $vw;
$px33: 33 / $XLdivider + $vw;
$px34: 34 / $XLdivider + $vw;
$px35: 35 / $XLdivider + $vw;
$px36: 36 / $XLdivider + $vw;
$px37: 37 / $XLdivider + $vw;
$px38: 38 / $XLdivider + $vw;
$px40: 40 / $XLdivider + $vw;
$px41: 41 / $XLdivider + $vw;
$px42: 42 / $XLdivider + $vw;
$px43: 43 / $XLdivider + $vw;
$px44: 44 / $XLdivider + $vw;
$px45: 45 / $XLdivider + $vw;
$px46: 46 / $XLdivider + $vw;
$px47: 47 / $XLdivider + $vw;
$px48: 48 / $XLdivider + $vw;
$px49: 49 / $XLdivider + $vw;
$px50: 50 / $XLdivider + $vw;
$px51: 51 / $XLdivider + $vw;
$px52: 52 / $XLdivider + $vw;
$px53: 53 / $XLdivider + $vw;
$px54: 54 / $XLdivider + $vw;
$px55: 55 / $XLdivider + $vw;
$px56: 56 / $XLdivider + $vw;
$px57: 57 / $XLdivider + $vw;
$px58: 58 / $XLdivider + $vw;
$px60: 60 / $XLdivider + $vw;
$px61: 61 / $XLdivider + $vw;
$px62: 62 / $XLdivider + $vw;
$px63: 63 / $XLdivider + $vw;
$px64: 64 / $XLdivider + $vw;
$px65: 65 / $XLdivider + $vw;
$px66: 66 / $XLdivider + $vw;
$px67: 67 / $XLdivider + $vw;
$px68: 68 / $XLdivider + $vw;
$px69: 69 / $XLdivider + $vw;
$px70: 70 / $XLdivider + $vw;
$px71: 71 / $XLdivider + $vw;
$px72: 72 / $XLdivider + $vw;
$px73: 73 / $XLdivider + $vw;
$px74: 74 / $XLdivider + $vw;
$px75: 75 / $XLdivider + $vw;
$px76: 76 / $XLdivider + $vw;
$px77: 77 / $XLdivider + $vw;
$px78: 78 / $XLdivider + $vw;
$px79: 79 / $XLdivider + $vw;
$px80: 80 / $XLdivider + $vw;
$px82: 82 / $XLdivider + $vw;
$px83: 83 / $XLdivider + $vw;
$px84: 84 / $XLdivider + $vw;
$px85: 85 / $XLdivider + $vw;
$px87: 87 / $XLdivider + $vw;
$px88: 88 / $XLdivider + $vw;
$px89: 89 / $XLdivider + $vw;
$px90: 90 / $XLdivider + $vw;
$px92: 92 / $XLdivider + $vw;
$px93: 93 / $XLdivider + $vw;
$px94: 94 / $XLdivider + $vw;
$px95: 95 / $XLdivider + $vw;
$px96: 96 / $XLdivider + $vw;
$px97: 97 / $XLdivider + $vw;
$px98: 98 / $XLdivider + $vw;
$px100: 100 / $XLdivider + $vw;
$px102: 102 / $XLdivider + $vw;
$px104: 104 / $XLdivider + $vw;
$px103: 103 / $XLdivider + $vw;
$px105: 105 / $XLdivider + $vw;
$px106: 106 / $XLdivider + $vw;
$px107: 107 / $XLdivider + $vw;
$px108: 108 / $XLdivider + $vw;
$px110: 110 / $XLdivider + $vw;
$px111: 111 / $XLdivider + $vw;
$px112: 112 / $XLdivider + $vw;
$px113: 113 / $XLdivider + $vw;
$px114: 114 / $XLdivider + $vw;
$px115: 115 / $XLdivider + $vw;
$px116: 116 / $XLdivider + $vw;
$px118: 118 / $XLdivider + $vw;
$px119: 119 / $XLdivider + $vw;
$px120: 120 / $XLdivider + $vw;
$px121: 121 / $XLdivider + $vw;
$px122: 122 / $XLdivider + $vw;
$px124: 124 / $XLdivider + $vw;
$px125: 125 / $XLdivider + $vw;
$px127: 127 / $XLdivider + $vw;
$px128: 128 / $XLdivider + $vw;
$px129: 129 / $XLdivider + $vw;
$px130: 130 / $XLdivider + $vw;
$px132: 132 / $XLdivider + $vw;
$px133: 133 / $XLdivider + $vw;
$px134: 134 / $XLdivider + $vw;
$px135: 135 / $XLdivider + $vw;
$px137: 137 / $XLdivider + $vw;
$px138: 138 / $XLdivider + $vw;
$px140: 140 / $XLdivider + $vw;
$px142: 142 / $XLdivider + $vw;
$px143: 143 / $XLdivider + $vw;
$px144: 144 / $XLdivider + $vw;
$px145: 145 / $XLdivider + $vw;
$px150: 150 / $XLdivider + $vw;
$px153: 153 / $XLdivider + $vw;
$px155: 155 / $XLdivider + $vw;
$px156: 156 / $XLdivider + $vw;
$px158: 158 / $XLdivider + $vw;
$px160: 160 / $XLdivider + $vw;
$px163: 163 / $XLdivider + $vw;
$px168: 168 / $XLdivider + $vw;
$px170: 170 / $XLdivider + $vw;
$px173: 173 / $XLdivider + $vw;
$px174: 174 / $XLdivider + $vw;
$px176: 176 / $XLdivider + $vw;
$px180: 180 / $XLdivider + $vw;
$px185: 185 / $XLdivider + $vw;
$px190: 190 / $XLdivider + $vw;
$px195: 195 / $XLdivider + $vw;
$px197: 197 / $XLdivider + $vw;
$px200: 200 / $XLdivider + $vw;
$px207: 207 / $XLdivider + $vw;
$px208: 208 / $XLdivider + $vw;
$px210: 210 / $XLdivider + $vw;
$px212: 212 / $XLdivider + $vw;
$px215: 215 / $XLdivider + $vw;
$px220: 220 / $XLdivider + $vw;
$px223: 223 / $XLdivider + $vw;
$px225: 225 / $XLdivider + $vw;
$px230: 230 / $XLdivider + $vw;
$px235: 235 / $XLdivider + $vw;
$px239: 239 / $XLdivider + $vw;
$px240: 240 / $XLdivider + $vw;
$px244: 244 / $XLdivider + $vw;
$px250: 250 / $XLdivider + $vw;
$px255: 255 / $XLdivider + $vw;
$px260: 260 / $XLdivider + $vw;
$px263: 263 / $XLdivider + $vw;
$px265: 265 / $XLdivider + $vw;
$px267: 267 / $XLdivider + $vw;
$px268: 268 / $XLdivider + $vw;
$px268_8: 268.8 / $XLdivider + $vw;
$px270: 270 / $XLdivider + $vw;
$px275: 275 / $XLdivider + $vw;
$px280: 280 / $XLdivider + $vw;
$px288: 288 / $XLdivider + $vw;
$px290: 290 / $XLdivider + $vw;
$px291: 291 / $XLdivider + $vw;
$px295: 295 / $XLdivider + $vw;
$px297: 297 / $XLdivider + $vw;
$px298: 298 / $XLdivider + $vw;
$px300: 300 / $XLdivider + $vw;
$px304: 304 / $XLdivider + $vw;
$px310: 310 / $XLdivider + $vw;
$px315: 315 / $XLdivider + $vw;
$px325: 325 / $XLdivider + $vw;
$px327: 327 / $XLdivider + $vw;
$px330: 330 / $XLdivider + $vw;
$px345: 345 / $XLdivider + $vw;
$px348: 348 / $XLdivider + $vw;
$px350: 350 / $XLdivider + $vw;
$px355: 355 / $XLdivider + $vw;
$px360: 360 / $XLdivider + $vw;
$px362: 362 / $XLdivider + $vw;
$px390: 390 / $XLdivider + $vw;
$px400: 400 / $XLdivider + $vw;
$px403: 403 / $XLdivider + $vw;
$px408: 408 / $XLdivider + $vw;
$px410: 410 / $XLdivider + $vw;
$px412: 412 / $XLdivider + $vw;
$px415: 415 / $XLdivider + $vw;
$px425: 415 / $XLdivider + $vw;
$px430: 430 / $XLdivider + $vw;
$px435: 435 / $XLdivider + $vw;
$px459: 459 / $XLdivider + $vw;
$px470: 470 / $XLdivider + $vw;
$px476: 476 / $XLdivider + $vw;
$px480: 480 / $XLdivider + $vw;
$px487: 487 / $XLdivider + $vw;
$px498: 498 / $XLdivider + $vw;
$px500: 500 / $XLdivider + $vw;
$px526: 526 / $XLdivider + $vw;
$px533: 533 / $XLdivider + $vw;
$px535: 535 / $XLdivider + $vw;
$px550: 550 / $XLdivider + $vw;
$px570: 570 / $XLdivider + $vw;
$px580: 580 / $XLdivider + $vw;
$px600: 600 / $XLdivider + $vw;
$px602: 602 / $XLdivider + $vw;
$px620: 620 / $XLdivider + $vw;
$px625: 625 / $XLdivider + $vw;
$px628: 628 / $XLdivider + $vw;
$px640: 640 / $XLdivider + $vw;
$px654: 654 / $XLdivider + $vw;
$px685: 685 / $XLdivider + $vw;
$px690: 690 / $XLdivider + $vw;
$px700: 700 / $XLdivider + $vw;
$px720: 720 / $XLdivider + $vw;
$px730: 730 / $XLdivider + $vw;
$px740: 740 / $XLdivider + $vw;
$px748: 748 / $XLdivider + $vw;
$px750: 750 / $XLdivider + $vw;
$px760: 760 / $XLdivider + $vw;
$px770: 770 / $XLdivider + $vw;
$px780: 780 / $XLdivider + $vw;
$px790: 790 / $XLdivider + $vw;
$px794: 794 / $XLdivider + $vw;
$px805: 805 / $XLdivider + $vw;
$px820: 820 / $XLdivider + $vw;
$px835: 835 / $XLdivider + $vw;
$px860: 860 / $XLdivider + $vw;
$px870: 870 / $XLdivider + $vw;
$px900: 900 / $XLdivider + $vw;
$px988: 988 / $XLdivider + $vw;
$px1040: 1040 / $XLdivider + $vw;
$px1091: 1091 / $XLdivider + $vw;
$px1110: 1110 / $XLdivider + $vw;
$px1160: 1160 / $XLdivider + $vw;
$px1200: 1200 / $XLdivider + $vw;
$px1224: 1224 / $XLdivider + $vw;
$px1460: 1460 / $XLdivider + $vw;
$px1500: 1500 / $XLdivider + $vw;
$px1604: 1604 / $XLdivider + $vw;
$px1645: 1645 / $XLdivider + $vw;

// Mobile Sizing Variables
$medium-px2: 2 / $Sdivider + $vw;
$medium-px3: 3 / $Sdivider + $vw;
$medium-px5: 5 / $Sdivider + $vw;
$medium-px6: 6 / $Sdivider + $vw;
$medium-px8: 8 / $Sdivider + $vw;
$medium-px9: 9 / $Sdivider + $vw;
$medium-px10: 10 / $Sdivider + $vw;
$medium-px11: 11 / $Sdivider + $vw;
$medium-px12: 12 / $Sdivider + $vw;
$medium-px13: 12 / $Sdivider + $vw;
$medium-px14: 14 / $Sdivider + $vw;
$medium-px15: 15 / $Sdivider + $vw;
$medium-px16: 16 / $Sdivider + $vw;
$medium-px17: 17 / $Sdivider + $vw;
$medium-px18: 18 / $Sdivider + $vw;
$medium-px19: 19 / $Sdivider + $vw;
$medium-px20: 20 / $Sdivider + $vw;
$medium-px22: 22 / $Sdivider + $vw;
$medium-px23: 23 / $Sdivider + $vw;
$medium-px24: 24 / $Sdivider + $vw;
$medium-px25: 25 / $Sdivider + $vw;
$medium-px26: 26 / $Sdivider + $vw;
$medium-px27: 27 / $Sdivider + $vw;
$medium-px28: 28 / $Sdivider + $vw;
$medium-px29: 29 / $Sdivider + $vw;
$medium-px30: 30 / $Sdivider + $vw;
$medium-px31: 31 / $Sdivider + $vw;
$medium-px32: 32 / $Sdivider + $vw;
$medium-px35: 35 / $Sdivider + $vw;
$medium-px36: 36 / $Sdivider + $vw;
$medium-px37: 37 / $Sdivider + $vw;
$medium-px38: 38 / $Sdivider + $vw;
$medium-px40: 40 / $Sdivider + $vw;
$medium-px45: 45 / $Sdivider + $vw;
$medium-px47: 47 / $Sdivider + $vw;
$medium-px50: 50 / $Sdivider + $vw;
$medium-px55: 55 / $Sdivider + $vw;
$medium-px57: 57 / $Sdivider + $vw;
$medium-px60: 60 / $Sdivider + $vw;
$medium-px62: 62 / $Sdivider + $vw;
$medium-px64: 64 / $Sdivider + $vw;
$medium-px70: 70 / $Sdivider + $vw;
$medium-px75: 75 / $Sdivider + $vw;
$medium-px80: 80 / $Sdivider + $vw;
$medium-px85: 85 / $Sdivider + $vw;
$medium-px90: 90 / $Sdivider + $vw;
$medium-px100: 100 / $Sdivider + $vw;
$medium-px110: 110 / $Sdivider + $vw;
$medium-px145: 145 / $Sdivider + $vw;
$medium-px150: 150 / $Sdivider + $vw;
$medium-px170: 170 / $Sdivider + $vw;
$medium-px180: 180 / $Sdivider + $vw;
$medium-px185: 185 / $Sdivider + $vw;
$medium-px200: 200 / $Sdivider + $vw;
$medium-px230: 230 / $Sdivider + $vw;
$medium-px250: 250 / $Sdivider + $vw;
$medium-px300: 300 / $Sdivider + $vw;
$medium-px580: 580 / $Sdivider + $vw;
