<h1>Sign the Manifesto<br/> for Data Practices
	<p class="dw-manifesto-head-text">Your name will appear on this site.</p>
</h1>
<form action="/">
	<div class="form-group">
		<input type="email" class="form-control" id="email" placeholder="Full name (required)" required>
	</div>
	<div class="form-group">
		<input type="email" class="form-control" id="email" placeholder="Email address (required)" required>
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="dw-select-icon"><span>&rsaquo;</span></span>
			<select id="lunch" class="form-control" title="Please select a lunch ...">
				<option>twitter.com/</option>
				<option>linkedin.com/in/</option>
				<option>github.com/</option>
			</select>
		</div>
		<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="handle (optional)">
	</div>
	<div class="custom-checkbox-wrap">
		<label class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input">
			<span class="custom-control-label"></span>
			<span class="custom-control-description">Subscribe for updates</span>
		</label>
	</div>
	<button type="submit" class="btn btn-primary js-modal-submit">Done</button>
</form>
