<h1>Sign the Manifesto<br/> for Data Practices
	<p class="dw-manifesto-head-text">Your name will appear on this site. <br /> <b>Please only sign once</b>, there is a light spam-filtering process that may take some time.</p>
</h1>
<form class="js-google-form" action="https://docs.google.com/a/data.world/forms/d/1F7uw2ftHdb361Dtv0Y9NsCGCBYoTjRFTVbOVo_tQogA/formResponse">
	<div class="form-group js-field-wrap">
		<input type="text" class="form-control" name="entry.1962848789" placeholder="Full name (required)" required>
	</div>
	<div class="form-group js-field-wrap">
		<input type="email" class="form-control" name="entry.1993039649" placeholder="Email address (required)" required>
	</div>
	<div class="input-group mb-3 js-social-handle">
		<input type="hidden" name="entry.985469035" />
		<div class="input-group-prepend">
			<span class="dw-select-icon"><span>&rsaquo;</span></span>
			<select class="form-control">
				<option value="https://twitter.com/">twitter.com/</option>
				<option value="https://www.linkedin.com/in/">linkedin.com/in/</option>
				<option value="https://github.com/">github.com/</option>
			</select>
		</div>
		<input type="text" class="form-control" aria-describedby="social-handle" placeholder="handle (optional)">
	</div>
	<div class="custom-checkbox-wrap">
		<label class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" name="entry.574863021" value="Subscribe">
			<span class="custom-control-label"></span>
			<span class="custom-control-description">Subscribe for updates</span>
		</label>
	</div>
	<button type="submit" class="btn btn-primary js-modal-submit">Done</button>
</form>
