
<!-- Welcome after sign in data science success Modal -->
<h1>You’re a part of <br/> data science history.</h1>
<p>Share and invite others</p>
<div class="social-icon-wrap">
	<a href="#">
		<img src="{{ contents.images['social-link@1x.png'].url }}" alt="data.world"
		 srcset="{{ contents.images['social-link@1x.png'].url }} 1x, {{ contents.images['social-link@2x.png'].url }} 2x, {{ contents.images['social-link@3x.png'].url }} 3x" />
	</a>
	<a href="#">
		<img src="{{ contents.images['social-facebook@1x.png'].url }}" alt="data.world"
		 srcset="{{ contents.images['social-facebook@1x.png'].url }} 1x, {{ contents.images['social-facebook@2x.png'].url }} 2x, {{ contents.images['social-facebook@3x.png'].url }} 3x" />
	</a>
	<a href="#">
		<img src="{{ contents.images['social-twitter@1x.png'].url }}" alt="data.world"
		 srcset="{{ contents.images['social-twitter@1x.png'].url }} 1x, {{ contents.images['social-twitter@2x.png'].url }} 2x, {{ contents.images['social-twitter@3x.png'].url }} 3x" />
	</a>
	<a href="#">
		<img src="{{ contents.images['social-linkedin@1x.png'].url }}" alt="data.world"
		 srcset="{{ contents.images['social-linkedin@1x.png'].url }} 1x, {{ contents.images['social-linkedin@2x.png'].url }} 2x, {{ contents.images['social-linkedin@3x.png'].url }} 3x" />
	</a>
</div>
<div class="dw-wownload-btn">
	<a href="#">Download the latest (PDF)</a>
</div>
<div class="dw-btn-wrap">
	<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Done</button>
</div>
