<h1>Subscribe for updates</h1>
<form class="js-google-form" action="https://docs.google.com/a/data.world/forms/d/1wVn1Yr66ltPypBR2lPcOqYMFLUbKTzd9LMyWj3xW0xs/formResponse">
	<div class="form-group js-field-wrap">
		<input type="text" class="form-control" id="name" name="entry.1962848789" placeholder="Full name (required)" required>
	</div>
	<div class="form-group js-field-wrap">
		<input type="email" class="form-control" id="email" name="entry.1993039649" placeholder="Email address (required)" required>
	</div>
	<div class="custom-checkbox-wrap">
		<label class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" name="entry.574863021" value="Subscribe">
			<span class="custom-control-label"></span>
			<span class="custom-control-description">Updates for Community Principles</span>
		</label>
		<label class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" name="entry.1685198103" value="Subscribe">
			<span class="custom-control-label"></span>
			<span class="custom-control-description">Data Practice Updates</span>
		</label>
	</div>
	<button type="submit" class="btn btn-primary js-modal-submit">Subscribe</button>
</form>
