<h1>Subscribe for updates</h1>
<form action="/">
	<div class="form-group">
		<input type="text" class="form-control" id="email" placeholder="Full name (required)" required>
	</div>
	<div class="form-group">
		<input type="email" class="form-control" id="email" placeholder="Email address (required)" required>
	</div>
	<div class="custom-checkbox-wrap">
		<label class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input">
			<span class="custom-control-label"></span>
			<span class="custom-control-description">Updates for Data Scientist Code of Ethics</span>
		</label>
		<label class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input">
			<span class="custom-control-label"></span>
			<span class="custom-control-description">Updates for Manifesto for Data Practices</span>
		</label>
	</div>
	<button type="submit" class="btn btn-primary js-modal-submit">Subscribe</button>
</form>
