<!-- Subscribe success for updates Modal -->
<h1>You’re subscribed.</h1>
<p>Share and invite others</p>
<div class="social-icon-wrap">
	<a class="social-link js-copy" data-clipboard-text="https://datapractices.org">
		<img src="{{ contents.images['social-link@1x.png'].url }}" alt="data.world"
         srcset="{{ contents.images['social-link@1x.png'].url }} 1x, {{ contents.images['social-link@2x.png'].url }} 2x, {{ contents.images['social-link@3x.png'].url }} 3x" />
	</a>
	<a href="#" class="social-link facebook">
		<img src="{{ contents.images['social-facebook@1x.png'].url }}" alt="data.world"
         srcset="{{ contents.images['social-facebook@1x.png'].url }} 1x, {{ contents.images['social-facebook@2x.png'].url }} 2x, {{ contents.images['social-facebook@3x.png'].url }} 3x" />
	</a>
	<a href="#" class="social-link twitter">
		<img src="{{ contents.images['social-twitter@1x.png'].url }}" alt="data.world"
         srcset="{{ contents.images['social-twitter@1x.png'].url }} 1x, {{ contents.images['social-twitter@2x.png'].url }} 2x, {{ contents.images['social-twitter@3x.png'].url }} 3x" />
	</a>
	<a href="http://www.linkedin.com/shareArticle?mini=true&url=https://datapractices.org&title=The%20Data%20Practices%20Manifesto%20and%20Community%20Principles%20for%20Ethical%20Data%20Sharing&source=datapractices.org" target="_blank" class="social-link linkedin">
	<img src="{{ contents.images['social-linkedin@1x.png'].url }}" alt="data.world"
         srcset="{{ contents.images['social-linkedin@1x.png'].url }} 1x, {{ contents.images['social-linkedin@2x.png'].url }} 2x, {{ contents.images['social-linkedin@3x.png'].url }} 3x" />
	</a>
</div>
<div class="dw-btn-wrap">
	<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Done</button>
</div>
