<header class="page-header {{ 'js-header-translucent' if not page.metadata.enableBackButton }}">
    {% if page.metadata.enableBackButton %}
        <a href="{{ contents.index.url }}" class="back-link">
            <img
                srcset="{{ contents.images['back@1x.png'].url }} 1x, {{ contents.images['back@2x.png'].url }} 2x, {{ contents.images['back@3x.png'].url }} 3x"
                src="{{ contents.images['back@1x.png'].url }}"
                alt="Go Back" />
            Back
        </a>
    {% else %}
        <a class="header-logo" href="{{ contents.index.url }}">
            <img
                srcset="{{ contents.images['header-logo.png'].url }} 1x, {{ contents.images['header-logo-2x.png'].url }} 2x"
                src="{{ contents.images['header-logo.png'].url }}"
                alt="DATAPRACTICES.ORG" />
            DATAPRACTICES.ORG
        </a>
    {% endif %}
    {% if not disableSubscribe %}
        <div class="header-action-wrap {{ 'js-header-translucent' if page.metadata.enableBackButton }}"  data-toggle="modal" data-target="#subscribeModal">
            <button class="btn outline-btn">Subscribe</button>
        </div>
    {% endif %}
</header>

{% if not disableSubscribe %}
<!-- Subscribe for updates Modal -->
<div class="modal fade dw-modal" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h1>Subscribe for updates</h1>
            <form action="/action_page.php">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Full name (required)">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email address (required)">
                </div>
                <div class="custom-checkbox-wrap">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label"></span>
                        <span class="custom-control-description">Updates for Data Scientist Code of Ethics</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label"></span>
                        <span class="custom-control-description">Updates for Manifesto for Data Practices</span>
                    </label>
                </div>
                <button type="button" class="btn btn-primary">Subscribe</button>
            </form>
        </div>
    </div>
  </div>
</div>
{% endif %}
