<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ contents.images['favicon.ico'].url }}">
        <link rel="stylesheet" href="{{ contents['main.scss'].url }}">
        <title>{{ page.title }}</title>

        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.metadata.description }}" />
        {% if page.metadata.thumbnail %}
            <meta property="og:image" content="{{ env.config.locals.url + contents.images[page.metadata.thumbnail].url }}" />
        {% endif %}
    </head>
    <body class="{{ page.metadata.rootClass }}">
        {% include 'includes/header.html' %}
        {% block body_content %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="{{ contents.scripts['product-landing.js'].url }}"></script>
        <script src="{{ contents.scripts['main.js'].url }}"></script>
    </body>
</html>
