<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{ contents['favicon.ico'].url }}">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ contents.images.icons['apple-icon-57x57.png'].url }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ contents.images.icons['apple-icon-60x60.png'].url }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ contents.images.icons['apple-icon-72x72.png'].url }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ contents.images.icons['apple-icon-76x76.png'].url }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ contents.images.icons['apple-icon-114x114.png'].url }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ contents.images.icons['apple-icon-120x120.png'].url }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ contents.images.icons['apple-icon-144x144.png'].url }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ contents.images.icons['apple-icon-152x152.png'].url }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ contents.images.icons['apple-icon-180x180.png'].url }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ contents.images.icons['android-icon-192x192.png'].url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ contents.images.icons['favicon-32x32.png'].url }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ contents.images.icons['favicon-96x96.png'].url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ contents.images.icons['favicon-16x16.png'].url }}">
        <meta name="theme-color" content="#00B8D9">
        {% block extra_meta %}{% endblock %}

        <title>{{ page.title }}</title>
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.metadata.description }}" />
        {% if page.metadata.thumbnail %}
            <meta property="og:image" content="{{ 'https://datapractices.org' + contents.images[page.metadata.thumbnail].url }}" />
        {% endif %}
        {% block page_styles %}{% endblock %}
        <link rel="stylesheet" href="{{ contents['main.scss'].url }}">

    </head>
    <body class="{{ page.metadata.rootClass }}">
        {% include 'includes/header.html' %}
        {% block body_content %}
        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{{ contents.scripts.libs['clipboard.min.js'].url }}"></script>
        <script type="text/javascript" src="{{ contents.scripts.libs['jquery.validate.min.js'].url }}"></script>

        <script src="{{ contents.scripts['main.js'].url }}"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113597498-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-113597498-1');
        </script>
        {% block page_script %}{% endblock %}
    </body>
</html>
