{% extends 'base.html' %}

{% block page_script %}
    <script src="{{ contents.scripts['product-landing.js'].url }}"></script>
    <script src="{{ contents.scripts['reveal.js'].url }}"></script>


  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
  </script>
{% endblock %}



{% block body_content %}

{% endblock %}
