{% extends 'base.html' %}

{% block page_script %}
    <script src="{{ contents.scripts['product-landing.js'].url }}"></script>
{% endblock %}

{% extends 'base.html' %}

{% block body_content %}
  <div class="fluid-container product-landing courseware-color">
    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop" />
    <div class="navigation menu" id="navigation">
        <div class="inner-container">
            <div class="branding-image">
                <img alt="Data Scientist Code of Ethics"
                      srcset="{{ contents.images['courseware@1x.png'].url }} 1x, {{ contents.images['courseware@2x.png'].url }} 2x"
                      src="{{ contents.images['courseware@1x.png'].url }}" />
            </div>
            <h2 class="nav-title heading -graphik -large -white">Data Practices Courseware</h2>
            <br/>
            <nav class="nav navigation-links">
                <h3 class="nav-title heading -graphik -medium -white">1. Project Lifecycle Curriculum</h3>
                <a href="#kickoff" class="nav-anchor nav-link">1.1 Kicking off a data project</a>
                <a href="#sourcing" class="nav-anchor nav-link">1.2 Sourcing Data</a>
                <a href="#profile" class="nav-anchor nav-link">1.3 Profile and Prepare</a>
                <a href="#explore" class="nav-anchor nav-link">1.4 Data Exploration</a>
                <a href="#report" class="nav-anchor nav-link">1.5 Analyze and Report</a>
                <a href="#post" class="nav-anchor nav-link">1.6 Data Project Post-Mortem</a>
                <h3 class="nav-title heading -graphik -medium -white">2. Culture / Practice Curriculum</h3>
                <a href="#build" class="nav-anchor nav-link">2.1 How to build a data-driven culture</a>
                <a href="#survey" class="nav-anchor nav-link">2.2 A survey of data viz</a>
                <a href="#datascience" class="nav-anchor nav-link">2.3 Moving from computer science to data science</a>
                <a href="#nocode" class="nav-anchor nav-link">2.4 Data science for people who don’t code</a>
                <a href="#viz" class="nav-anchor nav-link">2.5 Data visualization best practices</a>
                <a href="#ethics" class="nav-anchor nav-link">2.6 Data Ethics 101 -- [GDEP]</a>
                <br/><br/>
                <h3 class="nav-title heading -graphik -medium -white">About</h3>
                <a href="#history" class="nav-anchor nav-link">History</a>
                <a href="#contributors" class="nav-anchor nav-link">Contributors</a>
            </nav>
        </div>
    </div>
    <div class="product-content">
      <div class="inner-container">
        <div class="branding-container">
          <div class="branding-image">
            <img class="hide-medium" alt="Data Practices Courseware" srcset="{{ contents.images['ethics@1x.png'].url }} 1x, {{ contents.images['ethics@2x.png'].url }} 2x" src="{{ contents.images['ethics@1x.png'].url }}" />
            <img class="show-medium" alt="Data Scienctist Code of Ethics" srcset="{{ contents.images['ethics-colored@1x.png'].url }} 1x, {{ contents.images['ethics-colored@2x.png'].url }} 2x" src="{{ contents.images['ethics-colored@1x.png'].url }}" />
          </div>
          <h3 class="nav-title heading -graphik -large -black">Data Practices Courseware</h3>
        </div>

        <!-- section -->
        <div class="content-header" id="kickoff">
          <h2 class="heading -xlarge">
            1. Project Lifecycle Curriculum
          </h2>
        </div>
        <!-- end section -->

        <!-- section -->
        <div class="feature-section">
          <p class="heading -graphik -large">1.1 Kicking off a data project</p>
          <p>
            Effective data collaboration takes more than giving everyone access. Inclusion, flexibility, setting, and prioritization are also keys to fruitful data work.
          </p>
          <p>
            This workshop will help you to understand the principles of the <a href="https://datapractices.org/manifesto">Manifesto for Data Practices</a>, which describes the most effective, ethical, and modern approach to data teamwork, and how to best kick off a modern data project. Signed by some of the brightest minds in data, the Manifesto can create positive change wherever data collaboration occurs.
          </p>
          <p>
            Topics covered:
          </p>
          <ol class="ordered-list -dark">
            <li>History of data practices movement</li>
            <li>Break down objectives</li>
            <li>Consider stakeholders</li>
            <li>Refining questions</li>
            <li>Planning for output / solution</li>
          </ol>
          <div class="section-action">
            <a href="/courseware/1_1.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->
<hr/>
        <!-- section -->
        <div class="feature-section" id="sourcing">
          <p class="heading -graphik -large">1.2 Sourcing data</p>
          <p>
            Once you have planned out a data project it’s time to gather your resources. There are many things to consider, including where data, documentation, and additional team members can be sourced.
          </p>
          <p>
            This workshop will help you to understand how to evaluate data project resources including how to aggregate your existing data, the benefits of open data (both using and generating), the pros and cons of purchased data, and how to ensure that your data project can avoid costly pitfalls caused by problems around data provenance, data prep, or anything else.
          </p>
          <p>Topics covered:</p>
          <ul class="ordered-list -dark">
            <li>Defining the question you’re asking
              <ul>
                <li>Identify the right metrics</li>
                <li>Qualitative vs quantitative</li>
              </ul>
            </li>
            <li>Importance of the right data
              <ul>
                <li>“Garbage in, garbage out”</li>
              </ul>
            </li>
            <li>Open vs closed</li>
            <li>How to find:
              <ul>
                <li>Data sources</li>
                <li>Documentation</li>
                <li>Research</li>
                <li>Team members</li>
              </ul>
            </li>
            <li>Purchasing data + / -</li>
            <li>Things to consider
              <ul>
                <li>Provenance</li>
                <li>Source</li>
                <li>Creation methodology</li>
                <li>Distribution / size of data</li>
              </ul>
            </li>
            <li>Joining / Normalizing data</li>
          </ul>
          <div class="section-action">
            <a href="/courseware/1_2.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->
<hr/>
        <!-- section -->
        <div class="feature-section" id="profile">
          <p class="heading -graphik -large">1.3 "Profile and Prepare"</p>
          <p>
            Once you have all of your data, team, documentation, and other resources in place, it’s time to dig in and go to work.
          </p>
          <p>
            This workshop will help users to understand how to effectively evaluate and define their data. Understanding the shape of your data, what features and limitations may be inherent in the data, what data might be missing or improperly formatted, and many other things can help a data team to get the most out of their data.
          </p>
          <p>After profiling your data you’ll need to clean and prepare your data for actual use. This workshop will help you understand some of the common methods of cleaning data and how both technical and non-technical team members can assist with this process.</p>
          <p>Topics covered:</p>
          <h4>Profile the data</h4>
          <ul>
            <li>Define data’s:
            <ul>
              <li>Shape</li>
              <li>Features</li>
              <li>Limitiations</li>
            </ul>
            </li>
            <li>Content discovery
              <ul>
                  <li>what’s in the data, what’s missing</li>
                  <li>Null or ambiguous content</li>
                  <li>Incorrectly formatted data (ex: emails)</li>
                  <li>Range (and other numerical/quant) analysis</li>
              </ul>
            </li>
            <li>Relationship discovery
              <ul>
                <li>matchable / relatable datasets</li>
                <li>vectors for linkage</li>
                <li>Where is the data in use</li>
              </ul>
            </li>
          </ul>
          <h4>Prepare</h4>
          <ul>
            <li>Clean the data
              <ul>
                <li>Zero values</li>
                <li>Outliers</li>
              </ul>
            </li>
            <li>Wrangle/munge data into usable form
              <ul>
                <li>Queries</li>
              </ul>
            </li>
          </ul>
          <div class="section-action">
            <a href="/courseware/1_1.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->
<hr/><hr/>
        <!-- section -->
        <div class="feature-section" id="explore">
          <p class="heading -graphik -large">1.4 Data Exploration (query, slice)</p>
          <p>
            This workshop will help you develop a deeper understanding of your data through querying, visualizing, or other initial exploration techniques.
          </p>
          <p>Topics covered:</p>
          <ul>
            <li>Query building</li>
            <li>Data slicing / sampling</li>
            <li>Exploratory viz (including the difference between exploratory and reporting viz)</li>
            <li>Beyond statistics (i.e. why summary stats shouldn’t be the only metrics you look at)</li>
          </ul>
          <div class="section-action">
            <a href="/courseware/1_1.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->
<hr/>
        <!-- section -->
        <div class="feature-section" id="report">
          <p class="heading -graphik -large">1.5 "Analyze and Report"</p>
          <p>
            This workshop will help you to understand how to build models and answer questions in a reproducible way and then deliver the results of that work to your target audience
          </p>
          <p>Topics covered:</p>
          <h4>Ask</h4>
          <ul>
            <li>What question do you want to answer?</li>
            <li>What model will help you answer that question?</li>
          </ul>
          <h4>Analyze</h4>
          <ul>
            <li>An introduction to modeling</li>
            <li>Building dashboards and consumer-ready viz</li>
            <li>Notebooks and you!</li>
          </ul>
          <h4>Report</h4>
          <ul>
            <li>How to make sure your viz matches your audience</li>
            <li>Building diversity of outputs into your workflow</li>
            <li>Data viz best practices (sample - full course teaser)</li>
          </ul>
          <div class="section-action">
            <a href="/courseware/1_1.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->
<hr/>
        <!-- section -->
        <div class="feature-section" id="post">
          <p class="heading -graphik -large">1.6 "Data Project Post-Mortem"</p>
          <p>
            This workshop will help you to understand how to build models and answer questions in a reproducible way and then deliver the results of that work to your target audience
          </p>
          <p>Topics covered:</p>
          <ul>
            <li>Pre-post-mortem questionnaire</li>
            <li>Gathering and using both qualitative and quantitative information</li>
            <li>Include space for subjective input, otherwise it’ll be interspersed throughout</li>
            <li>Evaluate:
              <ul>
                <li>Team effectiveness</li>
                <li>Project success</li>
                <li>Goals met?</li>
                <li>Stretch goals</li>
                <li>What worked/didn’t</li>
                <li>Quality of output</li>
                <li>Auditability</li>
              </ul>
            </li>
          </ul>

          <div class="section-action">
            <a href="/courseware/1_1.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->

        <div class="content-header" id="kickoff">
          <h2 class="heading -xlarge">
            2. Culture / Practice Curriculum
          </h2>
        </div>

        <!-- section -->
        <div class="feature-section" id="build">
          <p class="heading -graphik -large">2.1 How to build a data-driven culture</p>
          <p>
            The world of modern data teamwork isn’t one that can be created by software and business process alone. Individuals will need to alter their behavior, which is the hardest part about change.
          </p>
          <p>
            This workshop will show you not only how to help your team evolve, but the reasons that will make it clear as to why they should.
          </p>
          <p>Topics covered:</p>
          <ul>
            <li>Play bigger / Winning With Data</li>
            <li>Pillars of a data-driven company</li>
            <li>Data driven leadership</li>
            <li>Decision making</li>
            <li>Treat data like an asset! (operationalized!)</li>
            <li>Data governance isn't a dirty word</li>
            <li>Break down silos</li>
            <li>Ask Questions</li>
            <li>"Culture Tweaks"</li>
          </ul>
          <div class="section-action">
            <a href="/courseware/2_1.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->
<hr/>
        <!-- section -->
        <div class="feature-section" id="survey">
          <p class="heading -graphik -large">2.2 A survey of data viz (Power BI, Google Data Studio, Tableau, Vega, R Studio?)</p>
          <p>
            When it comes to data visualization there are many options available. This workshop will compare and contrast many of the popular data visualization tools and why different tools might make sense for different use cases.
          </p>
          <p>Resources:</p>
          <ul>
            <li><a href="https://data.world/tableauhelp/tableau-desktop-101-step-into-the-shoes-of-a-data-analyst">Tableau Desktop 101: Step into the Shoes of a Data Analyst</a></li>
            <li><a href="https://www.tutorialspoint.com/power_bi/power_bi_introduction.htm">Power BI - Introduction</a></li>
            <li><a href="https://docs.microsoft.com/en-us/power-bi/guided-learning/">Microsoft Power BI Guided Learning</a></li>
            <li><a href="https://www.distilled.net/resources/google-data-studio-the-beginners-tutorial/">Google Data Studio: The Beginner’s Tutorial</a></li>
            <li><a href="https://support.google.com/datastudio/answer/6283323?hl=en">Welcome to Data Studio!</a></li>
            <li><a href="https://vega.github.io/vega-lite/tutorials/getting_started.html">Introduction to Vega-Lite</a></li>
            <li><a href="https://www.tableau.com/learn/tutorials/on-demand/introductory-training-introduction-tableau">Tableau Introduction</a></li>

          <div class="section-action">
            <a href="/courseware/1_1.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->
<hr/>
        <!-- section -->
        <div class="feature-section" id="datascience">
          <p class="heading -graphik -large">2.3 Moving from Computer Science to Data Science (R, Python, Pandas, etc)</p>
          <p>
            Data Scientist is the hottest new job title, and people with many different backgrounds are choosing to pivot their careers to become data practitioners. This workshop will help those coming from a developer background to understand the similarities and differences between computer science / software development and data science.
          </p>
          <p>Topics covered:</p>
          <ul>
            <li>Statistics</li>
            <li>Data processing using code and notebooks</li>
            <li>Reproducibility</li>
            <li>Provenance</li>
          </ul>
          <div class="section-action">
            <a href="/courseware/1_1.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->
<hr/>
        <!-- section -->
        <div class="feature-section" id="nocode">
          <p class="heading -graphik -large">2.4 Data Science for People Who Don't Code (Excel/Sheets, ETL, dwSQL)</p>
          <p>
            Too often, many data practitioners dismiss their role in the data ecosystem because they aren’t writing code. Talented spreadsheet users, database admins, database admins, and a host of others all have the ability to contribute heavily to the data work within an organization.
          </p>
          <p>
            This workshop will cover how to be as impactful as possible, even if you aren’t a technical user.
          </p>
          <p>Topics covered:</p>
          <ul>
            <li>Introduction to queries</li>
            <li>Formulas and calculations</li>
            <li>How to deliver/share your data and insights with a team</li>
          </ul>
          <div class="section-action">
            <a href="/courseware/1_1.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->
<hr/>
        <!-- section -->
        <div class="feature-section" id="viz">
          <p class="heading -graphik -large">2.5 Data Visualization Best Practices</p>
          <p>
            Too often, when we discuss data visualization it is to cover the tactical nature of how to perform a task within a specific piece of software (ex: “how to make a bar chart”). Rarely do we discuss the correct time to use different types of viz, and how to build them using established best practices for the greatest impact.
          </p>
          <p>
            This workshop will cover the technology-agnostic best practices for visualization design.
          </p>
          <p>Topics covered:</p>
          <ul>
            <li>Types of visualizations</li>
            <li>When to use different families of viz</li>
            <li>Data as art</li>
            <li>How to avoid visual clutter</li>
            <li>Data viz pitfalls</li>
          </ul>
          <p>Edward Tufte is a great resource</p>
          <div class="section-action">
            <a href="/courseware/1_1.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->
<hr/>
        <!-- section -->
        <div class="feature-section" id="ethics">
          <p class="heading -graphik -large">2.6 Data Ethics 101</p>
          <p>
            The pervasiveness of data, especially in business decisions, is exploding. Unfortunately many of those who are new to the data ecosystem don’t always stop to think about whether just because they can do something doesn’t necessarily mean they should. This course will examine the FORTS (Fairness, Openness, Reliability, Trust, and Social Behavior) framework along with establishing the principles for good ethical data work. This work is based on the Global Data Ethics Pledge from Data for Democracy.
          </p>
          <p>
            This workshop will cover the technology-agnostic best practices for visualization design.
          </p>
          <p>Topics covered:</p>
          <ul>
            <li>FORTS Framework
              <ul>
                <li>Fairness</li>
                <li>Openess</li>
                <li>Reliability</li>
                <li>Trust</li>
                <li>Social Behavior</li>
              </ul>
            </li>
            <li>Ethical Principles
              <ul>
                <li>Consider informed and purposeful intent</li>
                <li>Make best effort to guarantee security of data</li>
                <li>Make best effort to protect anonymous data subjects</li>
                <li>Practice responsible transparency</li>
                <li>Foster diversity</li>
                <li>Acknowledge and mitigate unfair bias</li>
                <li>Hold up datasets with provenance</li>
                <li>Respect relevant tensions of stakeholders</li>
                <li>Communicate responsibly</li>
                <li>Exercise ethical imagination; increase benefit, prevent harm</li>
              </ul>
            </li>
            <li>Ethical best practices</li>
          </ul>
          <p>Edward Tufte is a great resource</p>
          <div class="section-action">
            <a href="/courseware/1_1.html" class="btn -filled">View course</a>
          </div>
        </div>
        <!-- end section -->
<hr/>
        <!-- section -->
        <div class="content-header" id="about">
          <h2 class="heading -xlarge">
            About the Data Practices Community
          </h2>
        </div>

        <div class="feature-section" id="history">
          <p class="heading -graphik -large">History</p>
          <p>
            The Data Practices movement originated at the <a href="https://data.world/scuttlemonkey/2017-open-data-science-leadership-summit">2017 Open Data Science Leadership Summit</a> hosted in San Francisco. This event gathered together leaders in data science, semantics, open source, visualization, and industry to discuss the current state of the data community. It was discovered that there were many similarities between the then current challenges around data, and the previous difficulties felt in software development that were addressed by Agile. 
          </p>
          <p>
            The goal of the Data Practices movement was to start a similar "Agile for Data" movement that could help offer direction and improved data literacy across the ecosystem. While the first step was the "Manifesto for Data Practices" the intent was always to move past that and apply the values and principles to a series of free and open courseware that could benefit anyone who was interested.
        </div>
        <!-- end section -->
<hr/>
        <!-- section -->
        <div class="feature-section" id="contributors">
          <p class="heading -graphik -large">Contributors</p>
          <p>
            About the Data Practices contributors.
          </p>
        </div>
        
        
        <br/>
        <br/>



      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="fluid-container product-landing">
    <div class="product-content">
      <div class="product-footer">
        <div class="inner-container">
          <div class="made-with-love">
            <p>
                This site was made with love by <a href="https://data.world">data.world</a>, a platform for modern data teamwork.
            </p>
            <p>
                Contact us: <a href="mailto:community@data.world">community@data.world</a>
            </p>
          </div>
          <div class="footer-brand">
            <span class="logo">
              <a href="https://data.world/" target="_blank">
                <img src="{{ contents.images['dw-logo@1x.png'].url }}" alt="data.world"
                     srcset="{{ contents.images['dw-logo@1x.png'].url }} 1x, {{ contents.images['dw-logo@2x.png'].url }} 2x, {{ contents.images['dw-logo@3x.png'].url }} 3x" />
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-floating-actions">
      <button class="btn -full-width -sign" data-toggle="modal" data-target="#signInManifesto">Sign</button>
  </div>
  <div class="floating-social-btns">
    <div class="social-btns -vertical">
      <a class="social-link js-copy" data-placement="left" data-clipboard-text="{{ 'https://datapractices.org' + contents['manifesto']['index.json'].url }}">
        <img
          alt="Copy"
          src="{{ contents.images['social-link@1x.png'].url }}"
          srcset="{{ contents.images['social-link@1x.png'].url }} 1x, {{ contents.images['social-link@2x.png'].url }} 2x, {{ contents.images['social-link@3x.png'].url }} 3x"
        >
      </a>
      <a href="#" class="social-link facebook-manifesto">
        <img
          alt="Share Facebook"
          src="{{ contents.images['social-facebook@1x.png'].url }}"
          srcset="{{ contents.images['social-facebook@1x.png'].url }} 1x, {{ contents.images['social-facebook@2x.png'].url }} 2x, {{ contents.images['social-facebook@3x.png'].url }} 3x"
        >
      </a>
      <a href="#" class="social-link twitter-manifesto">
        <img
          alt="Share Twitter"
          src="{{ contents.images['social-twitter@1x.png'].url }}"
          srcset="{{ contents.images['social-twitter@1x.png'].url }} 1x, {{ contents.images['social-twitter@2x.png'].url }} 2x, {{ contents.images['social-twitter@3x.png'].url }} 3x"
        >
      </a>
      <a href="{{ 'http://www.linkedin.com/shareArticle?mini=true&url=https://datapractices.org' + contents['manifesto']['index.json'].url + '&title=Data%20Practices%20Manifesto%20-%20the%20most%20effective,%20ethical,%20and%20modern%20approach%20to%20data%20teamwork.&source=datapractices.org' }}" target="_blank" class="social-link linkedin">
        <img alt="Share LinkedIn" src="{{ contents.images['social-linkedin@1x.png'].url }}" srcset="{{ contents.images['social-linkedin@1x.png'].url }} 1x, {{ contents.images['social-linkedin@2x.png'].url }} 2x, {{ contents.images['social-linkedin@3x.png'].url }} 3x">
      </a>
    </div>

  </div>
{% endblock %}
