{% extends 'base.html' %}
{% block page_styles %}
  <link rel="stylesheet" href="{{ contents.reveal['reveal.css'].url }}">
  <link rel="stylesheet" href="{{ contents.reveal.theme['white.css'].url }}">
{% endblock %}
{% block page_script %}
    <script src="{{ contents.scripts['reveal.js'].url }}"></script>
  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
    Reveal.initialize();
  </script>
{% endblock %}

{% block body_content %}
  <div class="reveal">
    <div class="slides">
        <section>
          {{ page.html | safe }}
        </section>
        <section>
            <p>just something here</p>
        </section>
        <section>
            <p>just something and here</p>
        </section>
        <section>
            <p>just something and h</p>
        </section>
        <section>
            <p>just something and here again</p>
        </section>
    </div>
</div>
{% endblock %}
