{% extends 'base.html' %}

{% block page_script %}
    <script src="{{ contents.scripts['product-landing.js'].url }}"></script>
{% endblock %}

{% block body_content %}
<div class="fluid-container product-landing ethics-color">
    <div class="navigation" id="navigation">
        <div class="inner-container">
            <div class="branding-image">
                <img alt="Data Scientist Code of Ethics"
                      srcset="{{ contents.images['ethics@1x.png'].url }} 1x, {{ contents.images['ethics@2x.png'].url }} 2x"
                      src="{{ contents.images['ethics@1x.png'].url }}" />
            </div>
            <h3 class="nav-title heading -graphik -large -white">Community Principles on Ethical Data Sharing</h3>
            <nav class="nav navigation-links">
                <a href="#overview" class="nav-anchor nav-link">OVERVIEW</a>
                <a href="#background" class="nav-anchor nav-link">BACKGROUND</a>
                <a href="#working-groups" class="nav-anchor nav-link">WORKING GROUPS</a>
                <!--<a href="#authors" class="nav-anchor nav-link">AUTHORS</a>
                <a href="#signatories" class="nav-anchor nav-link">SIGNATORIES</a>-->
            </nav>
            <div class="navigation-buttons-wrap">
                <!-- <button class="btn -sign" data-toggle="modal" data-target="#signInDataScience">SIGN</button> -->
                <a class="btn -sign" href="https://d4d.typeform.com/to/qQMVM" target="_blank">JOIN</a>
                <!-- <a href="#" class="btn -download -white-ouline-btn">DOWNLOAD (PDF)</a> -->
            </div>
        </div>
    </div>
    <div class="product-content">
        <div class="inner-container">
            <div id="overview">
                <div class="branding-container">
                    <div class="branding-image">
                        <img class="hide-medium" alt="Data Scienctist Code of Ethics"
                              srcset="{{ contents.images['ethics@1x.png'].url }} 1x, {{ contents.images['ethics@2x.png'].url }} 2x"
                              src="{{ contents.images['ethics@1x.png'].url }}" />
                        <img class="show-medium" alt="Data Scienctist Code of Ethics"
                              srcset="{{ contents.images['ethics-colored@1x.png'].url }} 1x, {{ contents.images['ethics-colored@2x.png'].url }} 2x"
                              src="{{ contents.images['ethics-colored@1x.png'].url }}" />
                    </div>
                    <h3 class="nav-title heading -graphik -large -white">Data Scientist Code of Ethics</h3>
                </div>
                <div class="content-header">
                    <h3 class="heading -large">
                      This code of ethics for data sharing is created and proposed for adoption by the data science community to reflect the behaviors and principles for the responsible and ethical use and sharing of data by data scientists.
<br />
<br />
As a community-driven crowdsourced effort, you can join the the discussion and contribute to the next version of the Community Principles on Ethical Data Sharing. </h3>
                </div>
                <div class="feature-section">
                    <p class="heading -small -capital -graphik">OVERVIEW</p>
                    <p>
                      The Community Principles on Ethical Data Sharing (CPEDS) are actively being worked on by a powerful community of data scientists and data organizations focused on defining responsible behaviors for sharing and using data to positively impact the lives of individuals. The goal of this initiative is to develop the first-ever community-driven code of ethics for data sharing and to give data scientists a standard set of easily digestible, recognizable principles for guiding their behaviors.
                    </p>
                    <p>
  It is not intended to be all encompassing. Rather, these principles will provide academia and industry, for specific sectors, and individual data scientists with a common set of foundational guidelines for driving the development of standards, curriculums, and best practices for the ethical use and sharing of data, ultimately advancing the responsible use of data as a collective force for good.
                    </p>
                </div>
                <div class="feature-section" id="background">
                    <p class="heading -small -capital -graphik">BACKGROUND</p>
                    <p>
                      Since launching in September 2017 at <a href="_blank" href="http://www.bloomberg.com/d4gx">Bloomberg’s Data for Good Exchange</a> (D4GX) conference in New York City, the data science community formed several working groups, led by Data For Democracy, to conduct literature reviews and draft principles for consideration.
                    </p>
                    <p>
As a living document, the principles will be reviewed regularly and D4GX will serve as a convener for voting and updating the Community Principles on Ethical Data Sharing. As a community-driven crowdsourced effort, you can also join the ongoing discussion and contribute to the next version of CPEDS Code of Ethics by <a href="https://d4d.typeform.com/to/qQMVMr" target="_blank">signing up here</a>.
                    </p>
                    <p>
We will bring this community together again at the inaugural D4GX SF event on Tuesday, February 6, 2018 to review the results of approximately 100 volunteers who worked across 7 working groups picking apart different aspects of data sharing. For the first time, the data science community will come together virtually and in-person to vote on the initial set of principles, collaboratively turning the results of the working groups into a code of ethics focused on the issues of data sharing.
                    </p>
                </div>
            </div>
            <div id="working-groups">
              <div class="feature-section -alternate-background -medium-padding -white">
                  <p class="heading -small -capital -graphik -white">View the live stream</p>
                  <p class='-white -vwhite'>
                    You can view the livestream of the event on Twitter (<a href="https://twitter.com/techatbloomberg" target="_blank">@TechAtBloomberg</a>) and participate in the selection of the principles on <a href="https://d4d.typeform.com/to/qQMVMr" target="_blank">Slack</a>, beginning at 12 PM EST/9 AM PST on Tuesday, February 6, 2018.
                  </p>
                  <p class=' -white -vwhite'>
The initial version of the Community Principles on Ethical Data Sharing will be made available here for signing and/or further comments after the event.
                  </p>
                  <div class="section-action">
                      <button class="btn white-btn" data-toggle="modal" data-target="#signInDataScience">Live Stream</button>
                  </div>
              </div>
                <div class="feature-section -medium-padding" id="working-groups">
                    <p class="heading -small -capital -graphik">Working Groups</p>
                    <p>
                      This Code of Ethics has been created and will be maintained by the data science community. The principles aim to guide the responsible use of data by anyone who shares and uses data in ways that impact the lives of individuals. The Code is not intended to be complete, but instead to provide core guidelines for responsible data sharing and use by academics, companies, governments, and independent researchers.
                    </p>
                    <p>
As a community-driven crowdsourced effort, you can also join the the ongoing discussion and contribute to the next version of the Community Driven Principles on Ethical Data Sharing by <a href="https://d4d.typeform.com/to/qQMVMr" target="_blank">signing up here</a>.
</p>
                </div>
                <div class="feature-section -medium-padding -grey-background">
                    <h3 class="heading -large">Thought Diversity</h3>
                    <p>
                        Thought Diversity is an important tool to combat individual dogma and groupthink while helping to foster a culture of inclusion, diversity, humility and tolerance. A culture such as this provides space that fosters creative and innovative thinking by enabling problem-solving to flourish. It is our responsibility foster a diverse and inclusive culture in the data science community by putting in the work necessary to make our communities more accessible to people from diverse backgrounds and marginalized groups.
                    </p>
                    <p class="-graphik">
                      <b>Bethany Patrick, Code for America, Civic Data Alliance</b>
                      <b>Maria Filippelli, DataKind </b>
                      <b>Carl Marcelus, Bloomberg</b>
                      <b>Becki Hyde, Humana, Code for America, Civic Data Alliance</b>
                      <b>Maya Sabatello</b>
                      <b>Lisa Green, Domino Data Lab</b>
                      <b>Joshua Cohen, University of California, Berkeley, Apple University, Boston Review</b>
                      <b>Susan McGregor, Columbia University Graduate School of Journalism</b>
                      <b>Sharon Sputz, Data Science Institute at Columbia University</b>
                      <b>Marlon Harris</b>
                      <b>Nicolas Le Roux</b>
                      <b>Rachael Riley, Two Sigma</b>
                      <b>Shawn Janzen, American University</b>
                      <b>Gil Appel, USC Marshall School of Business</b>
                      <b>Margeaux Spring, Atria Senior Living, Code for America, Civic Data Alliance</b>
                    </p>
                </div>
                <div class="feature-section -medium-padding -alternate-background">
                    <h3 class="heading -large">Bias</h3>
                    <p>
                      Every human dataset has the potential to replicate or exacerbate social bias on a large scale, especially when that data is used to support algorithmic decision making. This occurs when data recorded in unjust conditions is collected, manipulated, modeled, and/or visualized without adequate bias mitigation techniques. Bias is a concern as outputs have the potential to be unfair, misunderstood, and/or damaging for large numbers of people.
                    </p>
                    <p class="-graphik">
                      <b>Dan Gould, Tinder</b>
                      <b>Catie Bialick, Arnold Foundation</b>
                      <b>Marie-Apolline Barbara, Cornell Tech</b>
                      <b>Juan LaVista, Microsoft</b>
                      <b>Jake Metcalf, Data &amp; Society</b>
                      <b>Julia Stoyanovich, Drexel university</b>
                      <b>Brittny Saunders, NYC</b>
                      <b>Ben Wellington, Two Sigma</b>
                      <b>Clay Eltzroth, Bloomberg</b>
                      <b>Maria Filippelli (Moderator)</b>
                      <b>Joe Blankenship</b>
                      <b>Jose Luis Delgado Davara</b>
                    </p>
                </div>
                <div class="feature-section -medium-padding -grey-background">
                    <h3 class="heading -large">Privacy and Security</h3>
                    <p>Data represent people. They need to be protected.</p>
                    <p class="-graphik">
                      <b>Matt Gee, BrightHive</b>
                      <b>Lutz Finger, Cornell University</b>
                      <b>Jeannette Wing, Columbia University's Data Science Institute</b>
                      <b>Shamus Khan, Columbia University</b>
                      <b>Susan McGregor, Tow Center for Digital Journalism / Columbia Journalism School</b>
                      <b>Bruce Kogut, Sanford C. Bernstein Center for Leadership and Ethics at Columbia Business School</b>
                      <b>Arnaud Sahuguet, Cornell Tech</b>
                      <b>Juan LaVista, Microsoft</b>
                      <b>Gabrielle Berman, UNICEF</b>
                      <b>Stefaan Verlhurt, The GovLab</b>
                      <b>Samantha Grassle, NYC CTO</b>
                      <b>Erin Stein, Overdeck</b>
                      <b>Amanda Stent, Bloomberg</b>
                    </p>
                </div>
                <div class="feature-section -medium-padding">
                    <h3 class="heading -large">Responsible Communication</h3>
                    <p>
                      Responsible Communications focuses on the direct relationship between the Data Scientist and the public. In every situation, there is a balance point between the public and the data scientist. Ethical considerations should drive where that balance point exists and support a two-way, open flow of written, visual and spoken information between the data science and the public. This should be broader than a specific industry or discipline. Specifically, responsible communications includes the following themes: accountability to the public, deciphering black-box algorithms, accessibility to lay audiences, and education of the public.
                    </p>
                    <p class="-graphik">
                      <b>Maureen (Mo) Johnson, Unpredict | Double Union (writing/research lead)</b>
                      <b>Bernease Herman, University of Washington’s eScience Institute  (writing/research lead)</b>
                      <b>Emily Grimes (writing/research lead)</b>
                      <b>Craig Fryar, Data and Analytics executive; data.world Advisor  (writing/research lead)</b>
                      <b>Megan Risdal, Kaggle</b>
                      <b>Meghan O'Connell, Kaggle</b>
                      <b>Susan McGregor, Tow Center for Digital Journalism / Columbia Journalism School</b>
                      <b>Catie Bialick, Arnold Foundation</b>
                      <b>Lisa Green, Domino Data Labs</b>
                      <b>Andrew Means, BrightHive</b>
                      <b>Amanda Stent</b>

                    </p>
                </div>

                <div class="feature-section -medium-padding -alternate-background">
                    <h3 class="heading -large">Provenance and Ownership</h3>
                    <p>
                      Clear data provenance promotes trust, aids transparency, and reduces barriers to sharing data. Collecting, propagating, storing, and curating provenance incurs costs, but these costs improve the value of the data and the decisions that the data inform. Maintaining data provenance is a key responsibility, and it should be done in a way that is mindful of the privacy trade-offs.
                    </p>
                    <p class="-graphik">
                      <b>David Morar, George Mason University</b>
                      <b>Bill Howe, University of Washington’s eScience Institute</b>
                      <b>Julia Stoyanovich, Drexel University</b>
                      <b>H.V. Jagadish, University of Michigan</b>
                      <b>Laura Noren, NYU</b>
                      <b>Patrick McGarry, data.world</b>
                      <b>Matt Gee, University of Chicago</b>
                      <b>Ilana Lichtenstein, USyd grad, Australia</b>
                      <b>Anne Washington, NYU</b>
                      <b>Bryon Jacob, data.world</b>
                      <b>Stefaan Verhult, The GovLab</b>
                      <b>Samantha Grassle, NYC CTO Office</b>
                    </p>
                </div>
                <div class="feature-section -medium-padding -grey-background">
                    <h3 class="heading -large">Transparency and Openness</h3>
                    <p>Endeavor to provide transparency, in order to build trust, by design, and as default practice, and to do so responsibly, with context, and while preserving others rights to an explanation, recourse, and rectification.</p>
                    <p class="-graphik">
                      <b>Abhijeet Chavan (Moderator)</b>
                      <b>Alondra Nelson, Social Science Research Council and Columbia University</b>
                      <b>Bernease Herman, University of Washington’s eScience Institute</b>
                      <b>Catie Bialick, Arnold Foundation</b>
                      <b>Carl Marcelus, Bloomberg</b>
                      <b>Christine Chung, Meetup</b>
                      <b>H.V. Jagadish, University of Michigan </b>
                      <b>Holly Taylor, Johns Hopkins Bloomberg School of Public Health</b>
                      <b>Julia Stoyanovich, Drexel University</b>
                      <b>Lisa Green, Domino Data Labs</b>
                      <b>Margeaux Spring, Civic Data Alliance</b>
                      <b>Mehdi Jamei, Bayes Impact</b>
                      <b>Mo Johnson, Unpredict | Double Union</b>
                    </p>
                </div>
                <div class="feature-section -medium-padding">
                    <h3 class="heading -large">Questions and Answers</h3>
                    <p>
                      As a data scientist, it is crucial to ensure that you are carrying
out your work in an ethical way. However, it is also important to consider whether your efforts are directed at the right target— in other words, you should think through whether you are addressing the right questions in the first place, and the implications of the answers you find.
                    </p>
                    <p class="-graphik">
                      <b>Lilian Huang, Data for Democracy (Moderator)</b>
                      <b>Gil Appel, University of Southern California</b>
                      <b>Craig Fryar, data.world Advisor</b>
                      <b>Dan Gould, Tinder</b>
                      <b>Lisa Green, Domino Data Labs</b>
                      <b>Christine Henry, DataKind UK</b>
                    </p>
                </div>
            <div class="feature-section -alternate-background -medium-padding">
                <p class="heading -small -capital -graphik -white">be part of this</p>
                <h3 class="heading -large -white">Join the the ongoing discussion
and contribute to the next version
of the Community Principles on Ethical Data Sharing.
</h3>
                <div class="section-action">
                    <!--<button class="btn white-btn" data-toggle="modal" data-target="#signInDataScience">SIGN</button>-->
                    <a class="btn white-btn -sign" href="https://d4d.typeform.com/to/qQMVM" target="_blank">JOIN</a>
                </div>
            </div>
            <!-- <div class="feature-section -less-padding -no-right-padding" id="signatories">
                <p class="heading -small -capital -graphik">In order of signing</p>
                <h3 class="heading -large">{{ contents['code-of-ethics']['signatories.json'].metadata.length }} signatories</h3>
                <ol class="ordered-list -two-columns -condensed clearfix">
                  {% for signatory in contents['code-of-ethics']['signatories.json'].metadata %}
                    <li><p>{{ signatory.full_name }}</p></li>
                  {% endfor %}
                </ol>
                <div class="section-action">
                    <button class="btn -filled" data-toggle="modal" data-target="#signInDataScience">SIGN</button>
                </div>
            </div> -->
        </div>
        <div class="product-footer">
            <div class="inner-container">
                <div class="made-with-love">
                    <p>
                        This site was made with love by <a href="#">data.world</a>, a platform for modern data teamwork.
                    </p>
                    <p>
                        Contact us: <a href="mailto:ian@data.world">ian@data.world</a>
                    </p>
                </div>
                <div class="footer-brand">
                        <span class="logo">
                            <img src="{{ contents.images['dw-logo@1x.png'].url }}" alt="data.world"
                                 srcset="{{ contents.images['dw-logo@1x.png'].url }} 1x, {{ contents.images['dw-logo@2x.png'].url }} 2x, {{ contents.images['dw-logo@3x.png'].url }} 3x" />
                        </span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-floating-actions">
        <button class="btn -full-width -sign" data-toggle="modal" data-target="#signInDataScience">Sign</button>
    </div>
    <div class="floating-social-btns">
      <div class="social-btns -vertical">
          <a class="social-link js-copy" data-placement="left" data-clipboard-text="{{ 'https://datapractices.org' + contents['manifesto']['index.json'].url }}">
              <img
                      alt="Copy"
                      src="{{ contents.images['social-link@1x.png'].url }}"
                      srcset="{{ contents.images['social-link@1x.png'].url }} 1x, {{ contents.images['social-link@2x.png'].url }} 2x, {{ contents.images['social-link@3x.png'].url }} 3x"
              >
          </a>
          <a href="#" class="social-link facebook">
              <img
                      alt="Share Facebook"
                      src="{{ contents.images['social-facebook@1x.png'].url }}"
                      srcset="{{ contents.images['social-facebook@1x.png'].url }} 1x, {{ contents.images['social-facebook@2x.png'].url }} 2x, {{ contents.images['social-facebook@3x.png'].url }} 3x"
              >
          </a>
          <a href="#" class="social-link twitter-ethics">
              <img
                      alt="Share Twitter"
                      src="{{ contents.images['social-twitter@1x.png'].url }}"
                      srcset="{{ contents.images['social-twitter@1x.png'].url }} 1x, {{ contents.images['social-twitter@2x.png'].url }} 2x, {{ contents.images['social-twitter@3x.png'].url }} 3x"
              >
          </a>
          <a href="http://www.linkedin.com/shareArticle?mini=true&url=datapractices.org&title=CPEDS%20-%20Community%20Principles%20for%20Ethical%20Data%20Sharing&source=datapractices.org" target="_blank" class="social-link linkedin">
              <img
                      alt="Share LinkedIn"
                      src="{{ contents.images['social-linkedin@1x.png'].url }}"
                      srcset="{{ contents.images['social-linkedin@1x.png'].url }} 1x, {{ contents.images['social-linkedin@2x.png'].url }} 2x, {{ contents.images['social-linkedin@3x.png'].url }} 3x"
              >
          </a>
      </div>
    </div>
</div>
    <!-- Sign In Data Science for updates Modal -->
    {% include "modals/sign-in-data-science.html" %}
{% endblock %}
