{% extends 'base.html' %}

{% block body_content %}
<div class="fluid-container product-landing ethics-color">
    <div class="navigation" id="navigation">
        <div class="inner-container">
            <div class="branding-image">
                <img  alt="Manifesto" srcset="{{ contents.images['manifesto@1x.png'].url }} 1x, {{ contents.images['manifesto@2x.png'].url }} 2x" src="{{ contents.images['ethics@1x.png'].url }}" />
            </div>
            <h3 class="nav-title heading -graphik -large -white">Manifesto for Data Practices</h3>
            <nav class="nav navigation-links">
                <a href="#values" class="nav-anchor nav-link">VALUES</a>
                <a href="#principles" class="nav-anchor nav-link">PRINCIPLES</a>
                <a href="#authors" class="nav-anchor nav-link">AUTHORS</a>
                <a href="#signatories" class="nav-anchor nav-link">SIGNATORIES</a>
            </nav>
            <div class="navigation-buttons-wrap">
                <a href="#" class="btn -sign">SIGN</a>
                <a href="#" class="btn -download -white-ouline-btn">DOWNLOAD (PDF)</a>
            </div>
        </div>
    </div>
    <div class="product-content">
        <div class="inner-container">
            <div id="values">
                <div class="branding-container">
                    <div class="branding-image">
                        <img  alt="Manifesto" srcset="{{ contents.images['manifesto@1x.png'].url }} 1x, {{ contents.images['manifesto@2x.png'].url }} 2x" src="{{ contents.images['ethics@1x.png'].url }}" />
                    </div>
                    <h3 class="nav-title heading -graphik -large -white">Manifesto for Data Practices</h3>
                </div>
                <div class="content-header">
                    <h3 class="heading -large">We believe these values and principles, taken together, describe the most effective, ethical, and modern approach to data teamwork.</h3>
                </div>
                <div class="feature-section">
                    <p class="heading -small -capital -graphik">VALUES</p>
                    <ul class="image-content-list">
                        <li class="image-content-item">
                            <div class="item-image">
                                <img src="images/inclusion@1x.png" alt="Manifesto Inclusion"
                                     srcset="images/inclusion@1x.png 1x, images/inclusion@2x.png 2x,
                                images/inclusion@3x.png 3x">
                            </div>
                            <div class="item-content">
                                <h5 class="heading -large">Inclusion</h5>
                                <p>Maximize diversity, connectivity, and accessibility among data projects, collaborators, and outputs.</p>
                            </div>
                        </li>
                        <li class="image-content-item">
                            <div class="item-image">
                                <img src="images/experimentation@1x.png" alt="Manifesto Experimentation"
                                     srcset="images/experimentation@1x.png 1x, images/experimentation@2x.png 2x,
                                images/experimentation@3x.png 3x">
                            </div>
                            <div class="item-content">
                                <h5 class="heading -large">Experimentation</h5>
                                <p>Emphasize continuously iterative testing and data analysis.</p>
                            </div>
                        </li>
                        <li class="image-content-item">
                            <div class="item-image">
                                <img src="images/accountability@1x.png" alt="Manifesto Accountability"
                                     srcset="images/accountability@1x.png 1x, images/accountability@2x.png 2x,
                                images/accountability@3x.png 3x">
                            </div>
                            <div class="item-content">
                                <h5 class="heading -large">Accountability</h5>
                                <p>Behave ethically and transparently, fix mistakes quickly, and hold ourselves and others accountable.</p>
                            </div>
                        </li>
                        <li class="image-content-item">
                            <div class="item-image">
                                <img src="images/impact@1x.png" alt="Manifesto Impact"
                                     srcset="images/impact@1x.png 1x, images/impact@2x.png 2x,
                                images/impact@3x.png 3x">
                            </div>
                            <div class="item-content">
                                <h5 class="heading -large">Impact</h5>
                                <p>Prioritize projects with well-defined goals, and design them to achieve measurable, substantive outcomes.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="feature-section -alternate-background" id="principles">
                <p class="heading -small -capital -graphik -white">PRINCIPLES</p>
                <h3 class="heading -large -white">As data teams, we aim to...</h3>
                <ol class="ordered-list -light">
                    <li><p>Use data to improve life for our users, customers, organizations, and communities.</p></li>

                    <li><p>Create reproducible and extensible work.</p></li>

                    <li><p>Build teams with diverse ideas, backgrounds, and strengths.</p></li>

                    <li><p>Prioritize the continuous collection and availability of
                        discussions and metadata.</p></li>

                    <li><p>Clearly identify the questions and objectives that drive each
                        project and use to guide both planning and refinement.</p></li>

                    <li><p>Be open to changing our methods and conclusions in
                        response to new knowledge.</p></li>

                    <li><p>Recognize and mitigate bias in ourselves
                        and in the data we use.</p></li>

                    <li><p>Present our work in ways that empower others to
                        make better-informed decisions.</p></li>

                    <li><p>Consider carefully the ethical implications of choices
                        we make when using data, and the impacts of our work on
                        individuals and society.</p></li>

                    <li><p>Respect and invite fair criticism while promoting the
                        identification and open discussion of errors, risks, and
                        unintended consequences of our work.</p></li>

                    <li><p>Protect the privacy and security of individuals
                        represented in our data.</p></li>

                    <li><p>Help others to understand the most useful and appropriate
                        applications of data to solve real-world problems.</p>
                    </li>
                </ol>
            </div>
            <div class="feature-section -less-padding" id="authors">
                <p class="heading -small -capital -graphik">Alphabetically by first name</p>
                <h3 class="heading -large">Authors</h3>
                <ul class="unordered-list two-columns">
                    <li><p>Amy Gershkoff</p></li>
                    <li><p>Andrew Therriault</p></li>
                    <li><p>Arvind Satyanarayan</p></li>
                    <li><p>Ben Jones</p></li>
                    <li><p>Bernard Burg</p></li>
                    <li><p>Brett Hurt</p></li>
                    <li><p>Brian Granger</p></li>
                    <li><p>Bryon Jacob</p></li>
                    <li><p>Christine Doig</p></li>
                    <li><p>Craig Fryar</p></li>
                    <li><p>Dean Allemang</p></li>
                    <li><p>Devi Ramanan</p></li>
                    <li><p>Dhruv Bhargava</p></li>
                    <li><p>Eric Colson</p></li>
                    <li><p>Fernando Perez</p></li>
                    <li><p>Ian Greenleigh</p></li>
                    <li><p>Jeff Feng</p></li>
                    <li><p>Jeff Stein</p></li>
                    <li><p>Jon Loyens</p></li>
                    <li><p>Jonathon Morgan</p></li>
                    <li><p>Karthik Ram</p></li>
                    <li><p>Lisa Green</p></li>
                    <li><p>Lorena Barba</p></li>
                    <li><p>Martin Colaco</p></li>
                    <li><p>Matthew Rocklin</p></li>
                    <li><p>Mehdi Jamei</p></li>
                    <li><p>Michael Horn</p></li>
                    <li><p>Natalie Evans Harris</p></li>
                    <li><p>Nick Elprin</p></li>
                    <li><p>Nir Kaldero</p></li>
                    <li><p>Nitin Chopra</p></li>
                    <li><p>Patrick McGarry</p></li>
                    <li><p>Rahul Todkar</p></li>
                    <li><p>Russell Jurney</p></li>
                    <li><p>Sharon Brener</p></li>
                    <li><p>Therese Couture</p></li>
                    <li><p>Troy Thibodeaux</p></li>
                    <li><p>Wes McKinney</p></li>
                </ul>
            </div>
            <div class="feature-section -alternate-background -medium-padding">
                <p class="heading -small -capital -graphik -white">be part of this</p>
                <h3 class="heading -large -white">If you believe in the values and principles of the Manifesto, add your name.</h3>
                <div class="section-action">
                    <a href="#" class="btn white-btn">SIGN</a>
                </div>
            </div>
            <div class="feature-section -less-padding -no-right-padding" id="signatories">
                <p class="heading -small -capital -graphik">In order of signing</p>
                <h3 class="heading -large">15 signatories</h3>
                <ol class="ordered-list -two-columns -condensed clearfix">
                    <li><p>Jonathan Albright</p></li>
                    <li><p>Gregory Piatetsky</p></li>
                    <li><p>Matthew Laessig</p></li>
                    <li><p>Leonard Fishman</p></li>
                    <li><p>Andrew Duff</p></li>
                    <li><p>Andrew Salesky</p></li>
                    <li><p>Lexy Kassan</p></li>
                    <li><p>James Gray</p></li>
                    <li><p>Kirk Borne</p></li>
                    <li><p>Tricia Wang</p></li>
                    <li><p>Catherine Gicheru</p></li>
                    <li><p>Pete Warden</p></li>
                    <li><p>Tracy Teal</p></li>
                    <li><p>Tim Smith</p></li>
                    <li><p>Monica Rogati</p></li>
                </ol>
                <div class="section-action">
                    <a href="#" class="btn -filled">SIGN</a>
                </div>
            </div>
        </div>
        <div class="product-footer">
            <div class="inner-container">
                <div class="made-with-love">
                    <p>
                        This site was made with love by <a href="#">data.world</a>, a platform for modern data teamwork.
                    </p>
                    <p>
                        Contact us: <a href="mailto:ian@data.world">ian@data.world</a>
                    </p>
                </div>
                <div class="footer-brand">
                        <span class="logo">
                            <img src="{{ contents.images['dw-logo@1x.png'].url }}" alt="data.world"
                                 srcset="{{ contents.images['dw-logo@1x.png'].url }} 1x, {{ contents.images['dw-logo@2x.png'].url }} 2x, {{ contents.images['dw-logo@3x.png'].url }} 3x" />
                        </span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-floating-actions">
        <a href="#" class="btn -full-width -sign">Sign</a>
    </div>
</div>
{% endblock %}
