{% extends 'base.html' %}

{% block extra_meta %}
    <meta name="google-site-verification" content="dmQUeAVzZM7nKh0rwffxvkW-B9AikQB61QYlUsmvfFA" />
{% endblock %}
{% block page_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            alignItems('.js-align-paragraph, .js-align-heading');
        });
    </script>
    <script src="{{ contents.scripts['product-landing.js'].url }}"></script>
{% endblock %}

{% block body_content %}
    <div class="homepage-wrap">
        <div class="home-col ethics-col">
            <a href="{{ contents['community-principles-on-ethical-data-sharing']['index.json'].url }}">
                <img
                    srcset="{{ contents.images['ethics@1x.png'].url }} 1x, {{ contents.images['ethics@2x.png'].url }} 2x"
                    src="{{ contents.images['ethics@1x.png'].url }}"
                    alt="Data Scientist Code of Ethics">
                <h1 class="js-align-heading">Global Data Ethics Pledge</h1>
            </a>
            <p class="js-align-paragraph">Previously the Community Principles on Ethical Data Practices (CPEDS), this effort is now being maintained by Data for Democracy</p>
            <a href="https://www.datafordemocracy.org/pledge" class="btn white-btn">Read and Sign</a>
        </div>
        <div class="home-col manifesto-col">
            <a href="{{ contents.manifesto['index.json'].url }}">
                <img
                    srcset="{{ contents.images['manifesto@1x.png'].url }} 1x, {{ contents.images['manifesto@2x.png'].url }} 2x"
                    src="{{ contents.images['ethics@1x.png'].url }}"
                    alt="Manifesto for Data Practices">
                <h1 class="js-align-heading">Manifesto for Data Practices</h1>
            </a>

            <p class="js-align-paragraph">These values and principles, taken together, describe the most effective, ethical, and modern approach to data teamwork.</p>
            <a href="{{ contents.manifesto['index.json'].url }}" class="btn white-btn">Read and Sign</a>
        </div>
    </div>
{% endblock %}
