{% extends 'base.html' %}

{% block body_content %}
    <div class="homepage-wrap">
        <div class="home-col ethics-col">
            <img
                srcset="{{ contents.images['ethics@1x.png'].url }} 1x, {{ contents.images['ethics@2x.png'].url }} 2x"
                src="{{ contents.images['ethics@1x.png'].url }}"
                alt="Data Scientist Code of Ethics">
            <h1>Data Scientist Code of Ethics</h1>
            <p>This code aims to define values and priorities for overall ethical behavior, in order to guide a data scientist in being a thoughtful, responsible agent of change. </p>
            <button class="btn white-btn">Read and Sign</button>
        </div>
        <div class="home-col manifesto-col">
            <img
                srcset="{{ contents.images['manifesto@1x.png'].url }} 1x, {{ contents.images['manifesto@2x.png'].url }} 2x"
                src="{{ contents.images['ethics@1x.png'].url }}"
                alt="Manifesto for Data Practices">
            <h1>Manifesto for Data Practices</h1>
            <p>These values and principles, taken together, describe the most effective, ethical, and modern approach to data teamwork.</p>
            <a href="{{ contents['manifesto.json'].url }}" class="btn white-btn">Read and Sign</a>
        </div>
    </div>
{% endblock %}
