{% extends 'base.html' %}

{% block body_content %}
<div class="fluid-container product-landing ethics-color">
	<div class="product-content">
		<div class="inner-container">
			<!-- Button trigger modal -->
			<div class="form-group">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subscribeModal">
					Subscribe for Updates modal
				</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subscribeSuccessModal">
					Subscribe Success
				</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInDataScience">
					Sign In Data Science
				</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInDataScienceSuccessModal">
					Sign In Data Science Success
				</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInManifesto">
					Sign In Manifesto
				</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInManifestoSuccessModal">
					Sign In Manifesto Success
				</button>
			</div>

			<!-- Subscribe for updates Modal -->
			{% include "modals/subscribe.html" %}




			<!-- Sign In Data Science for updates Modal -->
			{% include "modals/sign-in-data-science.html" %}



			<!-- Sign In Manifesto Modal -->
			{% include "modals/sign-in-manifesto.html" %}

		</div>
	</div>
</div>
{% endblock %}
