{% extends 'base.html' %}

{% block page_script %}
    <script src="{{ contents.scripts['product-landing.js'].url }}"></script>
{% endblock %}

{% block body_content %}
    <div class="fluid-container product-landing manifesto-color">
        <div class="navigation" id="navigation">
            <div class="inner-container">
                <div class="branding-image">
                    <img alt="Manifesto" srcset="{{ contents.images['manifesto@1x.png'].url }} 1x, {{ contents.images['manifesto@2x.png'].url }} 2x" src="{{ contents.images['ethics@1x.png'].url }}" />
                </div>
                <h3 class="nav-title heading -graphik -large -white">Manifesto for Data Practices</h3>
                <nav class="nav navigation-links">
                    <a href="#values" class="nav-anchor nav-link">Values</a>
                    <a href="#principles" class="nav-anchor nav-link">Principles</a>
                    <a href="#authors" class="nav-anchor nav-link">Authors</a>
                    <a href="#signatories" class="nav-anchor nav-link">Signatories</a>
                </nav>
                <div class="navigation-buttons-wrap">
                    <button class="btn -sign" data-toggle="modal" data-target="#signInManifesto">SIGN</button>
                    <!--<a href="#" class="btn -download -white-ouline-btn">DOWNLOAD (PDF)</a>-->
                </div>
            </div>
        </div>
        <div class="product-content">
            <div class="inner-container">
                <div id="values">
                    <div class="branding-container">
                        <div class="branding-image">
                            <img class="hide-medium" alt="Manifesto for Data Practices" srcset="{{ contents.images['manifesto@1x.png'].url }} 1x, {{ contents.images['manifesto@2x.png'].url }} 2x" src="{{ contents.images['manifesto@1x.png'].url }}" />
                            <img class="show-medium" alt="Manifesto for Data Practices" srcset="{{ contents.images['manifesto-colored@1x.png'].url }} 1x, {{ contents.images['manifesto-colored@2x.png'].url }} 2x" src="{{ contents.images['manifesto-colored@1x.png'].url }}" />
                        </div>
                        <h3 class="nav-title heading -graphik -large -white">Manifesto for Data Practices</h3>
                    </div>
                    <div class="content-header">
                        <h3 class="heading -large">We believe these values and principles, taken together, describe the most effective, ethical, and modern approach to data teamwork.</h3>
                    </div>
                    <div class="feature-section">
                        <p class="heading -small -capital -graphik">Values</p>
                        <ul class="image-content-list">
                            <li class="image-content-item">
                                <div class="item-image">
                                    <img src="{{ contents.images['inclusion@1x.png'].url }}" alt="Manifesto Inclusion"
                                         srcset="{{ contents.images['inclusion@1x.png'].url }} 1x, {{ contents.images['inclusion@2x.png'].url }} 2x,
                                {{ contents.images['inclusion@3x.png'].url }} 3x">
                                </div>
                                <div class="item-content">
                                    <h5 class="heading -large">Inclusion</h5>
                                    <p>Maximize diversity, connectivity, and accessibility among data projects, collaborators, and outputs.</p>
                                </div>
                            </li>
                            <li class="image-content-item">
                                <div class="item-image">
                                    <img src="{{ contents.images['experimentation@1x.png'].url }}" alt="Manifesto Experimentation"
                                         srcset="{{ contents.images['experimentation@1x.png'].url }} 1x, {{ contents.images['experimentation@2x.png'].url }} 2x,
                                {{ contents.images['experimentation@3x.png'].url }} 3x">
                                </div>
                                <div class="item-content">
                                    <h5 class="heading -large">Experimentation</h5>
                                    <p>Emphasize continuously iterative testing and data analysis.</p>
                                </div>
                            </li>
                            <li class="image-content-item">
                                <div class="item-image">
                                    <img src="{{ contents.images['accountability@1x.png'].url }}" alt="Manifesto Accountability"
                                         srcset="{{ contents.images['accountability@1x.png'].url }} 1x, {{ contents.images['accountability@2x.png'].url }} 2x,
                                {{ contents.images['accountability@3x.png'].url }} 3x">
                                </div>
                                <div class="item-content">
                                    <h5 class="heading -large">Accountability</h5>
                                    <p>Behave ethically and transparently, fix mistakes quickly, and hold ourselves and others accountable.</p>
                                </div>
                            </li>
                            <li class="image-content-item">
                                <div class="item-image">
                                    <img src="{{ contents.images['impact@1x.png'].url }}" alt="Manifesto Impact"
                                         srcset="{{ contents.images['impact@1x.png'].url }} 1x, {{ contents.images['impact@2x.png'].url }} 2x,
                                {{ contents.images['impact@3x.png'].url }} 3x">
                                </div>
                                <div class="item-content">
                                    <h5 class="heading -large">Impact</h5>
                                    <p>Prioritize projects with well-defined goals, and design them to achieve measurable, substantive outcomes.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="feature-section -alternate-background" id="principles">
                    <p class="heading -small -capital -graphik -white">Principles</p>
                    <h3 class="heading -large -white">As data teams, we aim to...</h3>
                    <ol class="ordered-list -light">
                        <li><p>Use data to improve life for our users, customers, organizations, and communities.</p></li>

                        <li><p>Create reproducible and extensible work.</p></li>

                        <li><p>Build teams with diverse ideas, backgrounds, and strengths.</p></li>

                        <li><p>Prioritize the continuous collection and availability of
                        	discussions and metadata.</p></li>

                        <li><p>Clearly identify the questions and objectives that drive each
                        	project and use to guide both planning and refinement.</p></li>

                        <li><p>Be open to changing our methods and conclusions in
                        	response to new knowledge.</p></li>

                        <li><p>Recognize and mitigate bias in ourselves
                        	and in the data we use.</p></li>

                        <li><p>Present our work in ways that empower others to
                        	make better-informed decisions.</p></li>

                        <li><p>Consider carefully the ethical implications of choices
                        	we make when using data, and the impacts of our work on
                        	individuals and society.</p></li>

                        <li><p>Respect and invite fair criticism while promoting the
                        	identification and open discussion of errors, risks, and
                        	unintended consequences of our work.</p></li>

                        <li><p>Protect the privacy and security of individuals
                        	represented in our data.</p></li>

                        <li><p>Help others to understand the most useful and appropriate
                        	applications of data to solve real-world problems.</p>
                        </li>
                    </ol>
                </div>
                <div class="feature-section -less-padding" id="authors">
                    <p class="heading -small -capital -graphik">Alphabetically by first name</p>
                    <h3 class="heading -large">Authors</h3>
                    <ul class="unordered-list two-columns">
                        <li><p>Amy Gershkoff <a href="https://www.linkedin.com/in/amygershkoff/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Andrew Therriault <a href="https://www.linkedin.com/in/therriault/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Arvind Satyanarayan <a href="https://www.linkedin.com/in/arvindsatya1/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Ben Jones <a href="https://www.linkedin.com/in/benrjones/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Bernard Burg <a href="https://www.linkedin.com/in/bernardburg/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Brett Hurt <a href="https://www.linkedin.com/in/bretthurt/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Brian Granger <a href="https://github.com/ellisonbg" target="_blank" class="github-manifesto"><img src="/images/github.svg"></a></p></li>
                        <li><p>Bryon Jacob <a href="https://github.com/bryonjacob" target="_blank" class="github-manifesto"><img src="/images/github.svg"></a></p></li>
                        <li><p>Christine Doig <a href="https://www.linkedin.com/in/christinedoigcardet/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Craig Fryar <a href="https://www.linkedin.com/in/craigfryar/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Dean Allemang <a href="https://www.linkedin.com/in/dean-allemang-96218/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Devi Ramanan <a href="https://www.linkedin.com/in/deviramanan/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Dhruv Bhargava <a href="https://www.linkedin.com/in/dhruvbhargava/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Eric Colson <a href="https://www.linkedin.com/in/ecolson/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Fernando Perez <a href="https://github.com/fperez" target="_blank" class="github-manifesto"><img src="/images/github.svg"></a></p></li>
                        <li><p>Ian Greenleigh <a href="" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Jeff Feng <a href="https://www.linkedin.com/in/jeffreytfeng/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Jeff Stein <a href="https://www.linkedin.com/in/jeffreyrstein/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Jon Loyens <a href="https://www.linkedin.com/in/jonloyens/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Jonathon Morgan <a href="https://www.linkedin.com/in/jonathonmorgan/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Karthik Ram <a href="https://github.com/karthik" target="_blank" class="github-manifesto"><img src="/images/github.svg"></a></p></li>
                        <li><p>Lisa Green <a href="https://www.linkedin.com/in/lisagreen/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Lorena Barba <a href="https://www.linkedin.com/in/lorenabarba/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Martin Colaco <a href="https://www.linkedin.com/in/martincolaco/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Matthew Rocklin <a href="https://www.linkedin.com/in/matthew-rocklin-461b4323/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Mehdi Jamei <a href="https://www.linkedin.com/in/mehdijamei/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Michael Horn <a href="https://www.linkedin.com/in/michaelhorn/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Natalie Evans Harris <a href="https://www.linkedin.com/in/nevansharris/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Nick Elprin <a href="https://www.linkedin.com/in/nick-elprin-0b30a038/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Nir Kaldero <a href="https://www.linkedin.com/in/nirkaldero/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Nitin Chopra <a href="https://www.linkedin.com/in/nitinchopra/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Patrick McGarry <a href="https://www.linkedin.com/in/patrickmcgarry/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Rahul Todkar <a href="https://www.linkedin.com/in/rahultodkar/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Russell Jurney <a href="https://www.linkedin.com/in/russelljurney/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Sharon Brener <a href="https://www.linkedin.com/in/sharonbrener/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Therese Couture <a href="https://www.linkedin.com/in/therese-couture-05724059/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Troy Thibodeaux <a href="https://www.linkedin.com/in/troy-thibodeaux-79893b2/" target="_blank" class="linkedin"><img src="/images/linkedin.svg"></a></p></li>
                        <li><p>Wes McKinney <a href="https://github.com/wesm" target="_blank" class="github-manifesto"><img src="/images/github.svg"></a></p></li>
                    </ul>
                </div>
                <div class="feature-section -alternate-background -medium-padding">
                    <p class="heading -small -capital -graphik -white">be part of this</p>
                    <h3 class="heading -large -white">If you believe in the values and principles of the Manifesto, add your name.</h3>
                    <div class="section-action">
                        <button class="btn white-btn" data-toggle="modal" data-target="#signInManifesto">SIGN</button>
                    </div>
                </div>
                <div class="feature-section -less-padding -no-right-padding" id="signatories">
                    <p class="heading -small -capital -graphik">In order of signing</p>
                    <h3 class="heading -large">{{ contents.manifesto['signatories.json'].metadata.length }} signatories</h3>
                    <ol class="ordered-list -two-columns -condensed clearfix signatories">
                      {% for signatory in contents.manifesto['signatories.json'].metadata %}
                        <li>
                          <p class="signatory">{{ signatory.full_name }}
                          {% if signatory.socialNetwork === 'linkedin' %}
                            <a href="{{ signatory.social_url }}" target="_blank" class="linkedin">
                              <img src="{{ contents.images['linkedin.svg'].url }}" />
                            </a>
                          {% elif signatory.socialNetwork === 'twitter' %}
                          <a href="{{ signatory.social_url }}" target="_blank"  class="twitter-manifesto">
                            <img src="{{ contents.images['twitter.svg'].url }}" />
                          </a>
                          {% elif signatory.socialNetwork === 'github' %}
                            <a href="{{ signatory.social_url }}" target="_blank"  class="github-manifesto">
                              <img src="{{ contents.images['github.svg'].url }}" />
                            </a>
                          {% endif %}
                        </p>
                        </li>
                      {% endfor %}
                    </ol>
                    <div class="section-action">
                        <button class="btn -filled" data-toggle="modal" data-target="#signInManifesto">SIGN</button>
                    </div>
                </div>
            </div>
            <div class="product-footer">
                <div class="inner-container">
                    <div class="made-with-love">
                        <p>
                            This site was made with love by <a href="https://data.world">data.world</a>, a platform for modern data teamwork.
                        </p>
                        <p>
                            Contact us: <a href="mailto:ian@data.world">ian@data.world</a>
                        </p>
                    </div>
                    <div class="footer-brand">
                        <span class="logo">
                            <a href="https://data.world/" target="_blank">
                              <img src="{{ contents.images['dw-logo@1x.png'].url }}" alt="data.world"
                                   srcset="{{ contents.images['dw-logo@1x.png'].url }} 1x, {{ contents.images['dw-logo@2x.png'].url }} 2x, {{ contents.images['dw-logo@3x.png'].url }} 3x" />
                             </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-floating-actions">
            <button class="btn -full-width -sign" data-toggle="modal" data-target="#signInManifesto">Sign</button>
        </div>
        <div class="floating-social-btns">
            <div class="social-btns -vertical">
                <a class="social-link js-copy" data-placement="left" data-clipboard-text="{{ 'https://datapractices.org' + contents['manifesto']['index.json'].url }}">
                    <img
                            alt="Copy"
                            src="{{ contents.images['social-link@1x.png'].url }}"
                            srcset="{{ contents.images['social-link@1x.png'].url }} 1x, {{ contents.images['social-link@2x.png'].url }} 2x, {{ contents.images['social-link@3x.png'].url }} 3x"
                    >
                </a>
                <a href="#" class="social-link facebook-manifesto">
                    <img
                            alt="Share Facebook"
                            src="{{ contents.images['social-facebook@1x.png'].url }}"
                            srcset="{{ contents.images['social-facebook@1x.png'].url }} 1x, {{ contents.images['social-facebook@2x.png'].url }} 2x, {{ contents.images['social-facebook@3x.png'].url }} 3x"
                    >
                </a>
                <a href="#" class="social-link twitter-manifesto">
                    <img
                            alt="Share Twitter"
                            src="{{ contents.images['social-twitter@1x.png'].url }}"
                            srcset="{{ contents.images['social-twitter@1x.png'].url }} 1x, {{ contents.images['social-twitter@2x.png'].url }} 2x, {{ contents.images['social-twitter@3x.png'].url }} 3x"
                    >
                </a>
                <a href="{{ 'http://www.linkedin.com/shareArticle?mini=true&url=https://datapractices.org' + contents['manifesto']['index.json'].url + '&title=Data%20Practices%20Manifesto%20-%20the%20most%20effective,%20ethical,%20and%20modern%20approach%20to%20data%20teamwork.&source=datapractices.org' }}" target="_blank" class="social-link linkedin">
                    <img
                            alt="Share LinkedIn"
                            src="{{ contents.images['social-linkedin@1x.png'].url }}"
                            srcset="{{ contents.images['social-linkedin@1x.png'].url }} 1x, {{ contents.images['social-linkedin@2x.png'].url }} 2x, {{ contents.images['social-linkedin@3x.png'].url }} 3x"
                    >
                </a>
            </div>
        </div>
    </div>
    <!-- Sign In Manifesto Modal -->
    {% include "modals/sign-in-manifesto.html" %}
{% endblock %}
